--IF NOT EXISTS (SELECT * FROM   sys.objects  WHERE  object_id = OBJECT_ID(N'[dbo].[GETSHOPRATING]') AND type IN ( N'FN', N'IF', N'TF', N'FS', N'FT' ))
--BEGIN
ALTER FUNCTION [dbo].[GETSHOPRATING]
(
@MONTH VARCHAR(10), 
@YEAR VARCHAR(10), 
@SHOP_CODE VARCHAR(50),
@AMOUNT NUMERIC(18,2)
) 
RETURNS VARCHAR(100)
AS
BEGIN

DECLARE @SHOP_TYPE BIGINT = (SELECT type FROM tbl_Master_shop WHERE Shop_Code=@SHOP_CODE)

DECLARE @CODE VARCHAR(100)
DECLARE @RETURN_RATING VARCHAR(100)=''


    Set @CODE=(Select Top 1 Code From tbl_EntityRating_Master as dt_Master WHERE Month=@MONTH AND Year=@YEAR AND Applicable_For=@SHOP_TYPE)

	IF(ISNULL(@CODE,'')<>'')
	BEGIN
	Set @RETURN_RATING=(Select Top 1 ISNULL(ResultValue,'') From tbl_EntityRating_Details
    Where Rating_Code=@CODE AND CAST((CONVERT(DECIMAL(18,2),LowValue)) AS Nvarchar(20))<=@AMOUNT AND CAST((CONVERT(DECIMAL(18,2),HighValue)) AS Nvarchar(20))>=@AMOUNT)
	END


	RETURN (@RETURN_RATING)

END

--END