IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[prc_EmployeesTargetSetting_ExcelInsertUpdate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [prc_EmployeesTargetSetting_ExcelInsertUpdate] AS' 
END
GO

ALTER PROC [dbo].[prc_EmployeesTargetSetting_ExcelInsertUpdate]
(
	@LOGINID VARCHAR(200),
	@NEWCOUNTER VARCHAR(100),
	@REVISIT VARCHAR(100),
	@ORDERVALUE VARCHAR(100) ,
	@COLLECTION VARCHAR(100),
	@SETTINGMONTH INT,
	@SETTINGYEAR INT,
	@TYPE VARCHAR(50),
	@NAME VARCHAR(200) =NULL,
	@EMPDESIGNATION VARCHAR(200) =NULL,
	@STATE VARCHAR(50) = NULL,
	@SUPERVISOR_ASSIGNED VARCHAR(200) = NULL,
	@DESIGNATION VARCHAR(200) = NULL,
	@STAGE VARCHAR(200) = NULL,
	@ACTION VARCHAR(200)

)
AS 
SET NOCOUNT ON ;
BEGIN TRY 
	DECLARE @MESSAGE VARCHAR(200) = '';
	DECLARE @SUCCESS BIT = 0;
	DECLARE @TEMP VARCHAR(200) ='';
	DECLARE @FROMDATE DATETIME = GETDATE();
	DECLARE @TODATE DATETIME = GETDATE();
	DECLARE @EMPLOYEECODE VARCHAR(50) = NULL;
	DECLARE @FKEMPLOYEESTARGETSETTINGEMPTYPEID INT = 7;
	DECLARE @FKEMPLOYEESCOUNTERTYPE INT = 4;
	DECLARE @EMPLOYEETARGETSETTINGID INT = 0;
	DECLARE @SHOPCODE VARCHAR(50) = NULL;
	DECLARE @ASSIGNEDID INT = 0;
	DECLARE @MAXTARGETVALUE DECIMAL(18,2) = 0;
	DECLARE @MAXTARGETCOLLECTION DECIMAL(18,2) = 0;
	DECLARE @EMPLOYEESCOUNTERTARGETID INT = 0;
	DECLARE @LOGID INT = 0;
		
		IF @ACTION = 'InputData'
		BEGIN

			SET @TEMP = CONVERT(varchar(200),(CAST(@SETTINGYEAR as varchar(10)) + '-' + CAST(@SETTINGMONTH as varchar(10)) + '-1' ));
			SET @FROMDATE = DATEADD(month, DATEDIFF(month, 0, @TEMP), 0);
			SET @TODATE =DATEADD(d, -1, DATEADD(m, DATEDIFF(m, 0, @TEMP) + 1, 0)) ;


			IF @TYPE = 'PP'
			BEGIN
				SET @FKEMPLOYEESCOUNTERTYPE = 5;
			END
			ELSE IF @TYPE = 'DD'
			BEGIN
				SET @FKEMPLOYEESCOUNTERTYPE = 6;
			END
		

			IF @TYPE = 'EMP'
			BEGIN
				-- Rev Sanchita
				--SELECT @EMPLOYEECODE = user_contactId FROM tbl_master_user WHERE user_loginId = @LOGINID;
				set @EMPLOYEECODE = (SELECT top 1 user_contactId FROM tbl_master_user WHERE user_loginId = @LOGINID and USER_INACTIVE='N')
				-- End of Rev Sanchita

				IF @EMPLOYEECODE IS NOT NULL
				BEGIN
					-- Rev Sanchita  [ STATGE not need any more ]
			        --DECLARE @STAGE_ID BIGINT =(select StageID from FTS_Stage where Stage=@STAGE)
					--SELECT @EMPLOYEETARGETSETTINGID = EmployeeTargetSettingID FROM tbl_FTS_EmployeesTargetSetting WHERE EmployeeCode = @EMPLOYEECODE AND SettingMonth = @SETTINGMONTH AND SettingYear = @SETTINGYEAR AND STAGE_ID=@STAGE_ID
					--IF(ISNULL(@STAGE_ID,'0')<>'0')
					--BEGIN
					
					DECLARE @STAGE_ID BIGINT =0
					SELECT @EMPLOYEETARGETSETTINGID = EmployeeTargetSettingID FROM tbl_FTS_EmployeesTargetSetting WHERE EmployeeCode = @EMPLOYEECODE AND SettingMonth = @SETTINGMONTH AND SettingYear = @SETTINGYEAR AND STAGE_ID=@STAGE_ID
					-- End of Rev Sanchita
						IF @EMPLOYEETARGETSETTINGID = 0
						BEGIN

							INSERT INTO tbl_FTS_EmployeesTargetSetting VALUES(@FKEMPLOYEESTARGETSETTINGEMPTYPEID, @EMPLOYEECODE,@SETTINGMONTH,@SETTINGYEAR,CAST(@ORDERVALUE AS INT),CAST(@NEWCOUNTER AS INT),CAST(@REVISIT AS INT),CAST(@COLLECTION AS INT),GETDATE(),GETDATE(),@FROMDATE,@TODATE,@FKEMPLOYEESCOUNTERTYPE,@STAGE_ID);
							SET @SUCCESS = 1;
							SET @MESSAGE = 'Data Saved';

						END
						ELSE 
						BEGIN
					
							UPDATE tbl_FTS_EmployeesTargetSetting SET 
							FKEmployeesTargetSettingEmpTypeID = @FKEMPLOYEESTARGETSETTINGEMPTYPEID,
							FKEmployeesCounterType  = @FKEMPLOYEESCOUNTERTYPE,
							OrderValue = CAST(@ORDERVALUE AS INT),
							NewCounter = CAST(@NEWCOUNTER AS INT),
							[Collection] = CAST(@COLLECTION AS INT),
							Revisit = CAST(@REVISIT AS INT),
							ModifiedDate = GETDATE()
							WHERE EmployeeTargetSettingID = @EMPLOYEETARGETSETTINGID

							SET @SUCCESS = 1;
							SET @MESSAGE = 'Data Saved';

						END
					-- Rev Sanchita
					--END
					-- End of Rev Sanchita
				END
				ELSE
				BEGIN
					SET @MESSAGE = 'Login ID not exist, Cannot import.';
				END

			END
			ELSE IF @TYPE = 'PP' OR  @TYPE = 'DD'
			BEGIN
			
				SELECT TOP 1 @SHOPCODE = Shop_Code from tbl_master_shop WHERE Shop_Owner_Contact = @LOGINID ORDER BY Shop_ID DESC

				IF @SHOPCODE IS NOT NULL
				BEGIN

					SELECT @ASSIGNEDID = CASE WHEN AssignTo IS NULL THEN Shop_CreateUser ELSE AssignTo END FROM tbl_master_shop WHERE Shop_Code = @SHOPCODE
					SELECT @EMPLOYEECODE = user_contactId FROM tbl_master_user WHERE user_id = @ASSIGNEDID
					--SET @FKEMPLOYEESCOUNTERTYPE = 5;

					SELECT @EMPLOYEETARGETSETTINGID = EmployeeTargetSettingID FROM tbl_FTS_EmployeesTargetSetting WHERE EmployeeCode = @EMPLOYEECODE AND SettingMonth = @SETTINGMONTH AND SettingYear = @SETTINGYEAR AND FKEmployeesCounterType = @FKEMPLOYEESCOUNTERTYPE; 

					IF @EMPLOYEETARGETSETTINGID = 0
					BEGIN

						INSERT INTO tbl_FTS_EmployeesTargetSetting VALUES(@FKEMPLOYEESTARGETSETTINGEMPTYPEID, @EMPLOYEECODE,@SETTINGMONTH,@SETTINGYEAR,CAST(@ORDERVALUE AS INT),0,0,CAST(@COLLECTION AS INT),GETDATE(),GETDATE(),@FROMDATE,@TODATE,@FKEMPLOYEESCOUNTERTYPE,NULL);

						SET @EMPLOYEETARGETSETTINGID = SCOPE_IDENTITY();

						INSERT INTO tbl_FTS_EmployeesTargetSettingCounterTarget VALUES( @EMPLOYEECODE,@EMPLOYEETARGETSETTINGID,@SHOPCODE,CAST(@ORDERVALUE AS INT),CAST(@COLLECTION AS INT),GETDATE(),GETDATE());

						SELECT @MAXTARGETVALUE= SUM(CAST(OrderValue AS INT)),@MAXTARGETCOLLECTION= SUM(CAST(CollectionValue AS INT)) FROM tbl_FTS_EmployeesTargetSettingCounterTarget WHERE FKEmployeeTargetSettingID = @EMPLOYEETARGETSETTINGID

						UPDATE tbl_FTS_EmployeesTargetSetting SET OrderValue = @MAXTARGETVALUE,
						[Collection] = @MAXTARGETCOLLECTION,
						ModifiedDate = GETDATE()
						WHERE EmployeeTargetSettingID = @EMPLOYEETARGETSETTINGID

						SET @SUCCESS = 1;
						SET @MESSAGE = 'Data Saved';
					END
					ELSE 
					BEGIN

						DELETE FROM tbl_FTS_EmployeesTargetSettingCounterTarget WHERE FKEmployeeTargetSettingID = @EMPLOYEETARGETSETTINGID AND Shop_Code = @SHOPCODE
					
						INSERT INTO tbl_FTS_EmployeesTargetSettingCounterTarget VALUES(@EMPLOYEECODE,@EMPLOYEETARGETSETTINGID,@SHOPCODE,CAST(@ORDERVALUE AS INT),CAST(@COLLECTION AS INT),GETDATE(),GETDATE())

						SELECT @MAXTARGETVALUE= SUM(CAST(OrderValue AS INT)),@MAXTARGETCOLLECTION= SUM(CAST(CollectionValue AS INT)) FROM tbl_FTS_EmployeesTargetSettingCounterTarget WHERE FKEmployeeTargetSettingID = @EMPLOYEETARGETSETTINGID
					
						UPDATE tbl_FTS_EmployeesTargetSetting SET OrderValue = @MAXTARGETVALUE,
						--FKEmployeesTargetSettingEmpTypeID = @FKEMPLOYEESTARGETSETTINGEMPTYPEID,
						--FKEmployeesCounterType  = @FKEMPLOYEESCOUNTERTYPE,
						[Collection] = @MAXTARGETCOLLECTION,
						ModifiedDate = GETDATE()
						WHERE EmployeeTargetSettingID = @EMPLOYEETARGETSETTINGID

						SET @SUCCESS = 1;
						SET @MESSAGE = 'Data Saved';
					END
	
					--SELECT * FROM tbl_FTS_EmployeesTargetSettingCounterTarget
					--SELECT * FROM tbl_FTS_EmployeesTargetSetting
					--SELECT * FROM tbl_FTS_EmployeesTargetSettingEmpType
				END
				ELSE
				BEGIN
				
					SET @MESSAGE = 'Mobile not exist, Cannot import.';

				END

			END
			ELSE
			BEGIN
					SET @MESSAGE = 'Type found invalid, Cannot import.';
			END

			IF @EMPLOYEECODE IS NULL
			BEGIN
				SET @EMPLOYEECODE = @SHOPCODE;
			END

		END
		ELSE IF @ACTION = 'LogInsert'
		BEGIN
			SET @MESSAGE = 'Numeric value not found in ' + CONVERT(VARCHAR(200),@NEWCOUNTER) + ',' + CONVERT(VARCHAR(200),@REVISIT) + ',' + CONVERT(VARCHAR(200),@ORDERVALUE) + ',' + CONVERT(VARCHAR(200),@COLLECTION) + ', Cannot import.';
		END

		--TRUNCATE TABLE tbl_FTS_EmployeesTargetSetting_ImportLog

		INSERT INTO tbl_FTS_EmployeesTargetSetting_ImportLog VALUES(@LOGINID,@NAME,@EMPDESIGNATION,@STATE,@SUPERVISOR_ASSIGNED,@DESIGNATION,CONVERT(VARCHAR(200),@NEWCOUNTER),CONVERT(VARCHAR(200),@REVISIT)
		,CONVERT(VARCHAR(200),@ORDERVALUE),CONVERT(VARCHAR(200),@COLLECTION),@TYPE,@EMPLOYEECODE,@SUCCESS,@MESSAGE,0,GETDATE());

		SELECT @LOGID = COUNT(LogID) FROM tbl_FTS_EmployeesTargetSetting_ImportLog WHERE  IsShow = 0

		--select * from tbl_FTS_EmployeesTargetSetting_ImportLog
	

	SELECT @SUCCESS AS Success,@LOGID AS HasLog

	END TRY

	BEGIN CATCH

	DECLARE @ErrorMessage NVARCHAR(4000) ;
		DECLARE @ErrorSeverity INT ;
		DECLARE @ErrorState INT ;
		SELECT  @ErrorMessage = ERROR_MESSAGE() ,
		@ErrorSeverity = ERROR_SEVERITY() ,
				@ErrorState = ERROR_STATE() ;
				RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState) ;
		END CATCH ; 
	RETURN ;

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[prc_EmployeesTargetSettingEmpTypeList_Get]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [prc_EmployeesTargetSettingEmpTypeList_Get] AS' 
END
