
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRC_LMS_CATEGORYMASTER]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [PRC_LMS_CATEGORYMASTER] AS' 
END
GO

ALTER PROC [dbo].[PRC_LMS_CATEGORYMASTER]
(
@ACTION VARCHAR(500)=NULL,
@ID BIGINT=NULL,
@CATEGORYNAME NVARCHAR(250)=NULL,
@CATEGORYDESCRIPTION  NVARCHAR(300)=NULL,
@CATEGORYSTATUS INT=0,
@selected VARCHAR(max)=NULL,
@USER_ID BIGINT=NULL,
@ISPAGELOAD CHAR(1)='0',
@ReturnValue BIGINT=0 OUTPUT
)
AS
/*************************************************************************************************************************
Written by : Priti Roy ON 20/06/2024
Module	   : LMS Category Master Module Implementation.Refer: 0027538
******************************************************************************************************************************/
BEGIN
	SET NOCOUNT ON
	Declare @LastCount bigint=0
	IF(@ACTION='ADD')
	BEGIN
	
		IF NOT EXISTS (SELECT 1 FROM LMS_CATEGORY WHERE CATEGORYNAME=@CATEGORYNAME )
		BEGIN			
			 select  @LastCount=iSNULL(MAX(CATEGORYID),0) from LMS_CATEGORY  
			INSERT INTO LMS_CATEGORY(CATEGORYID,CATEGORYNAME,CATEGORYDESCRIPTION,CATEGORYSTATUS,CREATEDBY,CREATEDON)
			VALUES (@LastCount+1,LTRIM(RTRIM(@CATEGORYNAME)),LTRIM(RTRIM(@CATEGORYDESCRIPTION)),@CATEGORYSTATUS,@USER_ID,GETDATE())		

			SET @ReturnValue=1
		END
		ELSE
		BEGIN
			SET @ReturnValue=-1
		END
	END
	ELSE IF (@ACTION='EDIT')
	BEGIN		
		SELECT * FROM LMS_CATEGORY WHERE CATEGORYID=@ID 		
	END
	ELSE IF(@ACTION='UPDATE')
	BEGIN
		IF EXISTS (SELECT 1 FROM LMS_CATEGORY WHERE CATEGORYNAME=LTRIM(RTRIM(@CATEGORYNAME)) and CATEGORYDESCRIPTION=LTRIM(RTRIM(@CATEGORYDESCRIPTION)) AND CATEGORYID<>@ID)
		BEGIN
			SET @ReturnValue=-1
		END
		ELSE
		BEGIN			

			UPDATE LMS_CATEGORY SET CATEGORYNAME=LTRIM(RTRIM(@CATEGORYNAME)),CATEGORYDESCRIPTION=LTRIM(RTRIM(@CATEGORYDESCRIPTION)),CATEGORYSTATUS=@CATEGORYSTATUS,UPDATEDBY=@USER_ID,UPDATEDON=GETDATE() 	
			WHERE CATEGORYID=@ID 	

			SET @ReturnValue=1
		END
	END
	
	ELSE IF @ACTION='GETLISTINGDETAILS'
	BEGIN
		IF NOT EXISTS (SELECT * FROM sys.objects WHERE OBJECT_ID=OBJECT_ID(N'LMS_CATEGORYMASTERLIST') AND TYPE IN (N'U'))
		BEGIN
			CREATE TABLE LMS_CATEGORYMASTERLIST
			(
				USERID INT,
				SEQ BIGINT,
				CATEGORYID int,	
				CATEGORYNAME NVARCHAR(250),
				CATEGORYDESCRIPTION NVARCHAR(300),
				CATEGORYSTATUS NVARCHAR(50),
				CreateDate datetime,
				CreateUser NVARCHAR(100),
				ModifyDate datetime,
				ModifyUser NVARCHAR(100)
			)
			CREATE NONCLUSTERED INDEX IX1PF_PURREGPROD_RPT ON LMS_CATEGORYMASTERLIST (SEQ)
		END
		DELETE FROM LMS_CATEGORYMASTERLIST where USERID=@USER_ID

		IF(@ISPAGELOAD='1')
		BEGIN
			INSERT INTO LMS_CATEGORYMASTERLIST (USERID, SEQ, CATEGORYID, CATEGORYNAME,CATEGORYDESCRIPTION,CATEGORYSTATUS,CreateDate,CreateUser,ModifyDate,ModifyUser )

			SELECT @USER_ID,ROW_NUMBER() OVER(ORDER BY CATEGORYID desc) AS SEQ,CATEGORYID,CATEGORYNAME,CATEGORYDESCRIPTION
			,CASE WHEN CATEGORYSTATUS=0 THEN 'No' ELSE 'Yes' END
			,CREATEDON
			,UC.user_name as CreateUser,UPDATEDON,UM.user_name as ModifyUser					
			FROM LMS_CATEGORY  AS CATEGORY
			left outer join tbl_master_user UC ON UC.user_id=CATEGORY.CREATEDBY
			left outer join tbl_master_user  UM ON UM.user_id=CATEGORY.UPDATEDBY
		END

	END

	ELSE IF (@ACTION='DELETE')
	BEGIN	
	
	  if EXISTS (select 'Y' from LMS_QUESTIONS_CATEGORYMAP  where QUESTIONS_CATEGORYID=@ID)
	  Begin
		set @ReturnValue='-1'    
	  End
	  Else
	  Begin
		Delete from LMS_CATEGORY Where CATEGORYID =@ID 
		set @ReturnValue='1'  
	  End
        
    END  
	SET NOCOUNT OFF
END