
-- EXEC PRC_FTSPERFORMANCESUMMARYMTD_REPORT_AUTOMIL @MONTH='JUL', @YEARS='2023', @USERID=378

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRC_FTSPERFORMANCESUMMARYMTD_REPORT_AUTOMIL]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [PRC_FTSPERFORMANCESUMMARYMTD_REPORT_AUTOMIL] AS' 
END
GO

ALTER PROCEDURE [dbo].[PRC_FTSPERFORMANCESUMMARYMTD_REPORT_AUTOMIL]
(
@MONTH NVARCHAR(3)=NULL,
@YEARS NVARCHAR(10)=NULL,
@STATEID NVARCHAR(MAX)=NULL,
@DESIGNID NVARCHAR(MAX)=NULL,
@EMPID NVARCHAR(MAX)=NULL,
@USERID INT
) --WITH ENCRYPTION
AS
/***************************************************************************************************************************************************
Written by : Sanchita on 04/07/2023. Perofrmance Summary push mail configuration required for Honeywell. Refer: 26478
Rev 1.0		Sanchita	 17/08/2023		V2.0.22		Some enhancement required in Performance Summary - MTD report
													Mantis: 26670
***************************************************************************************************************************************************/
BEGIN
	SET NOCOUNT ON

	SET LOCK_TIMEOUT -1

	DECLARE @SqlStrTable NVARCHAR(MAX),@COLUMN_DATE NVARCHAR(10),@DAYCOUNT INT,@LOOPCOUNT INT,@FIRSTTIME BIT=1,@MONTHNAME NVARCHAR(3),@MONTHNO INT=0,@FROMDATE NVARCHAR(10),@TODATE NVARCHAR(10)
	DECLARE @SLHEADID BIGINT,@PARENTID BIGINT

	SET @MONTHNAME=@MONTH
	SET @MONTHNO=DATEPART(MM,@MONTHNAME+'01 1900')
	SET @FROMDATE=CONVERT(VARCHAR(10),DATEADD(MONTH, CONVERT(INT,@MONTHNO) - 1, @YEARS),120)
	SET @TODATE=CONVERT(VARCHAR(10),DATEADD(DAY, -1, DATEADD(MONTH, CONVERT(INT,@MONTHNO), @YEARS)),120)
	SET @COLUMN_DATE=@FROMDATE

	SELECT @DAYCOUNT=DATEDIFF(D, @FROMDATE, @TODATE) +1

	IF OBJECT_ID('tempdb..#TMPHEADINGPMTD') IS NOT NULL
		DROP TABLE #TMPHEADINGPMTD
	CREATE TABLE #TMPHEADINGPMTD
		(
			HEADID BIGINT,HEADNAME NVARCHAR(800),HEADSHRTNAME NVARCHAR(800),PARRENTID BIGINT
		)
	
	IF OBJECT_ID('tempdb..#EMPPERFORMANCEMTD') IS NOT NULL
	 DROP TABLE #EMPPERFORMANCEMTD
	
	CREATE TABLE #EMPPERFORMANCEMTD (WORKDATE NVARCHAR(10),WORKDATEORDBY NVARCHAR(10),USERID BIGINT,EMPCODE NVARCHAR(100),EMPID NVARCHAR(100),EMPNAME NVARCHAR(300),CONTACTNO NVARCHAR(100),
	DEG_ID BIGINT,DESIGNATION NVARCHAR(300),STATEID BIGINT,STATE NVARCHAR(100),REPORTTOID NVARCHAR(100),REPORTTOUID NVARCHAR(100),REPORTTO NVARCHAR(300),RPTTODESG NVARCHAR(100),TOTALSHPCNT INT,
	UNIQUESHOPCNT INT,PERCENTOFCOVERAGE DECIMAL(18,2),TOTAL_VISIT INT)
	CREATE NONCLUSTERED INDEX IX1 ON #EMPPERFORMANCEMTD (EMPCODE)

	--FOR REPORT HEADER
	INSERT INTO #TMPHEADINGPMTD(HEADID,HEADNAME,HEADSHRTNAME,PARRENTID)
	SELECT 1,'Employee Details','Employee Details',0
	UNION ALL
	SELECT 2,'Reporting Manager','REPORTTO',1	
	UNION ALL
	SELECT 3,'Employee name','EMPNAME',1
	UNION ALL
	SELECT 4,'Employee Code','EMPID',1
	UNION ALL
	SELECT 5,'Customer Base','TOTALSHPCNT',1
	UNION ALL
	SELECT 6,'Unique Customer','UNIQUESHOPCNT',1
	UNION ALL
	SELECT 7,'% of Coverage','PERCENTOFCOVERAGE',1
	UNION ALL
	SELECT 8,'Total Visit','TOTAL_VISIT',1
	SET @SLHEADID=8
	SET @PARENTID=8

	DECLARE @emp_contactId NVARCHAR(100)
	SET @COLUMN_DATE =@FROMDATE

	IF OBJECT_ID('tempdb..#TMPPERFORMANCEMTD') IS NOT NULL
		DROP TABLE #TMPPERFORMANCEMTD
	CREATE TABLE #TMPPERFORMANCEMTD(WORKDATE NVARCHAR(10),WORKDATEORDBY NVARCHAR(10),USERID BIGINT,EMPCODE NVARCHAR(100),EMPID NVARCHAR(100),EMPNAME NVARCHAR(300),CONTACTNO NVARCHAR(100),
	DEG_ID BIGINT,DESIGNATION NVARCHAR(300),STATEID BIGINT,STATE NVARCHAR(100),REPORTTOID NVARCHAR(100),REPORTTOUID NVARCHAR(100),REPORTTO NVARCHAR(300),RPTTODESG NVARCHAR(100),TOTALSHPCNT INT,
	UNIQUESHOPCNT INT,PERCENTOFCOVERAGE DECIMAL(18,2),VISITPERDAY INT)
	CREATE NONCLUSTERED INDEX IX1 ON #TMPPERFORMANCEMTD (EMPCODE)

	IF OBJECT_ID('tempdb..#TMPPERFORMANCEMTDDET') IS NOT NULL
		DROP TABLE #TMPPERFORMANCEMTDDET
	CREATE TABLE #TMPPERFORMANCEMTDDET(WORKDATE NVARCHAR(10),WORKDATEORDBY NVARCHAR(10),USERID BIGINT,EMPCODE NVARCHAR(100),EMPID NVARCHAR(100),EMPNAME NVARCHAR(300),CONTACTNO NVARCHAR(100),
	DEG_ID BIGINT,DESIGNATION NVARCHAR(300),STATEID BIGINT,STATE NVARCHAR(100),REPORTTOID NVARCHAR(100),REPORTTOUID NVARCHAR(100),REPORTTO NVARCHAR(300),RPTTODESG NVARCHAR(100),TOTALSHPCNT INT,
	UNIQUESHOPCNT INT,PERCENTOFCOVERAGE DECIMAL(18,2),VISITPERDAY INT)
	CREATE NONCLUSTERED INDEX IX1 ON #TMPPERFORMANCEMTDDET (EMPCODE)

	IF OBJECT_ID('tempdb..#TMPPERFORMANCEMTDSUM') IS NOT NULL
		DROP TABLE #TMPPERFORMANCEMTDSUM
	CREATE TABLE #TMPPERFORMANCEMTDSUM(USERID BIGINT,EMPCODE NVARCHAR(100),EMPID NVARCHAR(100),EMPNAME NVARCHAR(300),TOTVISITDAYS INT)
	CREATE NONCLUSTERED INDEX IX1 ON #TMPPERFORMANCEMTDSUM (EMPCODE)

	INSERT INTO #TMPPERFORMANCEMTDDET EXEC [PRC_FTSPERFORMANCESUMMARYMTD_FETCH_AUTOMIL] @MONTH,@YEARS,@STATEID,@DESIGNID,@EMPID,@USERID

	INSERT INTO #TMPPERFORMANCEMTDSUM(USERID,EMPCODE,EMPID,EMPNAME,TOTVISITDAYS)
	SELECT USERID,EMPCODE,EMPID,EMPNAME,SUM(VISITPERDAY) AS TOTVISITDAYS FROM #TMPPERFORMANCEMTDDET 
	GROUP BY USERID,EMPCODE,EMPID,EMPNAME
	ORDER BY EMPCODE

	SET @LOOPCOUNT=1
	IF @DAYCOUNT>0
		BEGIN
			WHILE @LOOPCOUNT<=@DAYCOUNT
				BEGIN
					SET @SqlStrTable=''
					SET @SqlStrTable='ALTER TABLE #EMPPERFORMANCEMTD ADD '
					SET @SqlStrTable+='['+RTRIM(LTRIM(REPLACE(CONVERT(NVARCHAR(10),CAST(@COLUMN_DATE AS DATE),105),'-','_'))) + ']' + ' NVARCHAR(50) NULL,'
					SET @SqlStrTable+='[VC_' +RTRIM(LTRIM(REPLACE(CONVERT(NVARCHAR(10),CAST(@COLUMN_DATE AS DATE),105),'-','_'))) + ']'+ ' INT NULL ' 

					EXEC SP_EXECUTESQL @SqlStrTable					

					SET @TODATE=@COLUMN_DATE

					INSERT INTO #TMPPERFORMANCEMTD(WORKDATE,WORKDATEORDBY,USERID,EMPCODE,EMPID,EMPNAME,CONTACTNO,DEG_ID,DESIGNATION,STATEID,STATE,REPORTTOID,REPORTTOUID,REPORTTO,RPTTODESG,
					TOTALSHPCNT,UNIQUESHOPCNT,PERCENTOFCOVERAGE,VISITPERDAY)
					SELECT WORKDATE,WORKDATEORDBY,USERID,EMPCODE,EMPID,EMPNAME,CONTACTNO,DEG_ID,DESIGNATION,STATEID,STATE,REPORTTOID,REPORTTOUID,REPORTTO,RPTTODESG,TOTALSHPCNT,UNIQUESHOPCNT,
					PERCENTOFCOVERAGE,VISITPERDAY FROM #TMPPERFORMANCEMTDDET WHERE WORKDATEORDBY BETWEEN @COLUMN_DATE AND @TODATE

					IF (SELECT COUNT(0) FROM #EMPPERFORMANCEMTD A
						INNER JOIN #TMPPERFORMANCEMTD B ON A.EMPCODE=B.EMPCODE AND B.WORKDATEORDBY BETWEEN @COLUMN_DATE AND @TODATE)>0
						SET @FIRSTTIME=0
					ELSE
						SET @FIRSTTIME=1

					IF @FIRSTTIME=1
						BEGIN
							SET @SqlStrTable=''
							SET @SqlStrTable='INSERT INTO #EMPPERFORMANCEMTD(WORKDATE,WORKDATEORDBY,USERID,EMPCODE,EMPID,EMPNAME,CONTACTNO,DEG_ID,DESIGNATION,STATEID,STATE,REPORTTOID,REPORTTOUID,'
							SET @SqlStrTable+='REPORTTO,RPTTODESG,TOTALSHPCNT,UNIQUESHOPCNT,PERCENTOFCOVERAGE,'
							SET @SqlStrTable+='[VC_' +RTRIM(LTRIM(REPLACE(CONVERT(NVARCHAR(10),CAST(@COLUMN_DATE AS DATE),105),'-','_'))) + '] '
							SET @SqlStrTable+=') '
							SET @SqlStrTable+='SELECT WORKDATE,WORKDATEORDBY,USERID,EMPCODE,EMPID,EMPNAME,CONTACTNO,DEG_ID,DESIGNATION,STATEID,STATE,REPORTTOID,REPORTTOUID,REPORTTO,RPTTODESG,'
							SET @SqlStrTable+='TOTALSHPCNT,UNIQUESHOPCNT,PERCENTOFCOVERAGE,VISITPERDAY '
							SET @SqlStrTable+='FROM #TMPPERFORMANCEMTD '

							EXEC SP_EXECUTESQL @SqlStrTable

							SET @FIRSTTIME=0
						END
					ELSE IF @FIRSTTIME=0
						BEGIN
							SET @SqlStrTable=''
							SET @SqlStrTable='INSERT INTO #EMPPERFORMANCEMTD(WORKDATE,WORKDATEORDBY,USERID,EMPCODE,EMPID,EMPNAME,CONTACTNO,DEG_ID,DESIGNATION,STATEID,STATE,REPORTTOID,REPORTTOUID,'
							SET @SqlStrTable+='REPORTTO,RPTTODESG,TOTALSHPCNT,UNIQUESHOPCNT,PERCENTOFCOVERAGE,'
							SET @SqlStrTable+='[VC_' +RTRIM(LTRIM(REPLACE(CONVERT(NVARCHAR(10),CAST(@COLUMN_DATE AS DATE),105),'-','_'))) + '] '
							SET @SqlStrTable+=') '
							SET @SqlStrTable+='SELECT WORKDATE,WORKDATEORDBY,USERID,EMPCODE,EMPID,EMPNAME,CONTACTNO,DEG_ID,DESIGNATION,STATEID,STATE,REPORTTOID,REPORTTOUID,REPORTTO,RPTTODESG,'
							SET @SqlStrTable+='TOTALSHPCNT,UNIQUESHOPCNT,PERCENTOFCOVERAGE,VISITPERDAY '
							SET @SqlStrTable+='FROM #TMPPERFORMANCEMTD WHERE NOT EXISTS(SELECT EMPCODE FROM #EMPPERFORMANCEMTD A WHERE A.EMPCODE=#TMPPERFORMANCEMTD.EMPCODE) '
							
							EXEC SP_EXECUTESQL @sqlStrTable

							SET @SqlStrTable=''
							SET @SqlStrTable='UPDATE TEMP SET '
							SET @SqlStrTable+='TEMP.[VC_' +RTRIM(LTRIM(REPLACE(CONVERT(NVARCHAR(10),CAST(@COLUMN_DATE AS DATE),105),'-','_'))) + ']=T.VISITPERDAY '
							SET @sqlStrTable+='FROM #EMPPERFORMANCEMTD TEMP '
							SET @sqlStrTable+='INNER JOIN #TMPPERFORMANCEMTD T ON TEMP.EMPCODE=T.EMPCODE '
						
							EXEC SP_EXECUTESQL @sqlStrTable
						END
						TRUNCATE TABLE #TMPPERFORMANCEMTD
						DELETE FROM #TMPPERFORMANCEMTDDET WHERE WORKDATEORDBY BETWEEN @COLUMN_DATE AND @TODATE

						--FOR REPORT HEADER
						SET @PARENTID=@SLHEADID+1
					
						INSERT INTO #TMPHEADINGPMTD(HEADID,HEADNAME,HEADSHRTNAME,PARRENTID) 
						SELECT @SLHEADID+1 AS HEADID,CONVERT(NVARCHAR(10),CAST(@COLUMN_DATE AS DATE),105) AS HEADNAME,RTRIM(LTRIM(REPLACE(CONVERT(NVARCHAR(10),CAST(@COLUMN_DATE AS DATE),105),'-','_'))) AS HEADSHRTNAME,0 AS PARRENTID 

						INSERT INTO #TMPHEADINGPMTD(HEADID,HEADNAME,HEADSHRTNAME,PARRENTID) 
						SELECT @SLHEADID+2 AS HEADID,'Visit Count' AS HEADNAME,'VC_' +RTRIM(LTRIM(REPLACE(CONVERT(NVARCHAR(10),CAST(@COLUMN_DATE AS DATE),105),'-','_'))) AS HEADSHRTNAME,@PARENTID AS PARRENTID 

						SET @SLHEADID=@SLHEADID+2

						--FOR REPORT HEADER

						SET @COLUMN_DATE=CONVERT(NVARCHAR(10),(SELECT DATEADD(D, 1, @COLUMN_DATE)),120)
						SET @LOOPCOUNT=@LOOPCOUNT+1
				END
		END		

	--INSERT INTO #TMPEHEADINGQA(HEADID,HEADNAME,HEADSHRTNAME,PARRENTID)
	--SELECT @SLHEADID+1,'Summary','Summary',0
	--UNION ALL
	--SELECT @SLHEADID+2,'Total Working Days','TOTWORKINGDAYS',@SLHEADID+1
	--UNION ALL
	--SELECT @SLHEADID+3,'Total Days Qualified Attendance','TOTDAYSPRESENT',@SLHEADID+1

	--ALTER TABLE #EMPLOYEEATTENDANCEQA ADD Summary NVARCHAR(100)
	--ALTER TABLE #EMPLOYEEATTENDANCEQA ADD TOTWORKINGDAYS INT DEFAULT(0) WITH VALUES
	--ALTER TABLE #EMPLOYEEATTENDANCEQA ADD TOTDAYSPRESENT INT DEFAULT(0) WITH VALUES

	UPDATE PERMTD SET PERMTD.TOTAL_VISIT=T.TOTVISITDAYS FROM #EMPPERFORMANCEMTD AS PERMTD 
	INNER JOIN #TMPPERFORMANCEMTDSUM T ON PERMTD.EMPCODE=T.EMPCODE

	-- REV SANCHITA [AUTOMAIL]
	--SELECT * FROM #TMPHEADINGPMTD ORDER BY HEADID
	--SELECT * FROM #EMPPERFORMANCEMTD ORDER BY EMPNAME

	IF EXISTS (SELECT * FROM sys.objects WHERE object_id=OBJECT_ID(N'PERFORMANCESUMMARY_MTD_MAIL') AND TYPE IN (N'U'))
				DROP TABLE PERFORMANCESUMMARY_MTD_MAIL

		
		DECLARE @sqlQryHeader VARCHAR(MAX), @HEADNAME varchar(500), @HEADSHRTNAME varchar(500), @sqlSumQry NVARCHAR(MAX), @cnt int
				, @sqlInsertQry1 NVARCHAR(MAX), @sqlInsertQry2 NVARCHAR(MAX), @PARRENTID BIGINT, @HEADID BIGINT, @VISITED VARCHAR(50)
		set @sqlQryHeader = '' -- 'select '
		set @sqlSumQry = '' -- 'insert into PERFORMANCESUMMARY_MTD_MAIL values ( ' 
		set @cnt = 1
		SET @sqlInsertQry2 = '' -- 'INSERT INTO PERFORMANCESUMMARY_MTD_MAIL SELECT '

		-- Update header row
		declare db_cursor cursor for
		select HEADID, HEADNAME, HEADSHRTNAME, PARRENTID from #TMPHEADINGPMTD where PARRENTID IN (0,1) AND PARRENTID IS NOT NULL 
				AND HEADSHRTNAME<>'Employee Details' order by HEADID
		open db_cursor
		fetch next from db_cursor into @HEADID,@HEADNAME, @HEADSHRTNAME, @PARRENTID
		while @@FETCH_STATUS=0
		begin
			IF(@PARRENTID=1)
			BEGIN
				if(@cnt = 1)
				begin
					set @sqlInsertQry2 += @HEADSHRTNAME+' AS ['+@HEADNAME+']'
				end
				else
				begin
					set @sqlInsertQry2 += ','+ @HEADSHRTNAME+' AS ['+@HEADNAME+']'
				end
			END
			ELSE
			BEGIN
				set @VISITED = (SELECT HEADSHRTNAME FROM #TMPHEADINGPMTD WHERE PARRENTID=@HEADID)
				
				if(@cnt = 1)
				begin
					set @sqlInsertQry2 += 'ISNULL(['+@VISITED +'],O) as ['+@HEADNAME+']'
					set @sqlSumQry += 'SUM(['+@HEADNAME +']) '
				end
				else
				begin
					set @sqlInsertQry2 += ','+ 'ISNULL(['+@VISITED +'],0) as ['+@HEADNAME+']'
					set @sqlSumQry += ','+ 'SUM(['+@HEADNAME +']) '
				end
			END

			set @cnt += 1

			fetch next from db_cursor into @HEADID,@HEADNAME, @HEADSHRTNAME, @PARRENTID
		end
		close db_cursor
		deallocate db_cursor

		-- Rev 1.0
		--SET @sqlInsertQry2 = 'select ' +@sqlInsertQry2+  ' into PERFORMANCESUMMARY_MTD_MAIL from #EMPPERFORMANCEMTD '
		--EXEC SP_EXECUTESQL @sqlInsertQry2

		--SET @sqlInsertQry1 = 'INSERT INTO PERFORMANCESUMMARY_MTD_MAIL '
		--SET @sqlInsertQry1 += ' SELECT '''' [Reporting Manager] ,''Total'' [Employee name],'''' [Employee Code], sum([Customer Base]) [Customer Base], SUM([Unique Customer]) [Unique Customer] ,''0'' [% of Coverage] ,sum([Total Visit]) [Total Visit] '+@sqlSumQry+' FROM PERFORMANCESUMMARY_MTD_MAIL '
		--EXEC SP_EXECUTESQL @sqlInsertQry1

		SET @sqlInsertQry1 = 'select ' +@sqlInsertQry2+  ' into PERFORMANCESUMMARY_MTD_MAIL from #EMPPERFORMANCEMTD where EMPCODE='''' '
		EXEC SP_EXECUTESQL @sqlInsertQry1

		DECLARE @REPORTTOID NVARCHAR(100), @EMPCODE NVARCHAR(100)
		
		declare db_cursor1 cursor for
		select DISTINCT REPORTTO from #EMPPERFORMANCEMTD where REPORTTO<>'ADMIN  ADMIN' order by REPORTTO
		open db_cursor1
		fetch next from db_cursor1 into @REPORTTOID
		while @@FETCH_STATUS=0
		begin
			SET @sqlInsertQry1 = 'INSERT INTO PERFORMANCESUMMARY_MTD_MAIL '
			SET @sqlInsertQry1 += 'select ' +@sqlInsertQry2+  ' from #EMPPERFORMANCEMTD WHERE REPORTTO='''+@REPORTTOID+'''  '
			EXEC SP_EXECUTESQL @sqlInsertQry1

			SET @sqlInsertQry1 = 'INSERT INTO PERFORMANCESUMMARY_MTD_MAIL '
			SET @sqlInsertQry1 += ' SELECT '''' [Reporting Manager] ,''Total'' [Employee name],'''' [Employee Code], sum([Customer Base]) [Customer Base], SUM([Unique Customer]) [Unique Customer] ,''0'' [% of Coverage] ,sum([Total Visit]) [Total Visit] '+@sqlSumQry+' FROM PERFORMANCESUMMARY_MTD_MAIL WHERE [Reporting Manager]='''+@REPORTTOID+''' '
			EXEC SP_EXECUTESQL @sqlInsertQry1

			fetch next from db_cursor1 into @REPORTTOID
		end
		close db_cursor1
		deallocate db_cursor1

		SET @sqlInsertQry1 = 'INSERT INTO PERFORMANCESUMMARY_MTD_MAIL '
		SET @sqlInsertQry1 += ' SELECT '''' [Reporting Manager] ,''Grand Total'' [Employee name],'''' [Employee Code], sum([Customer Base]) [Customer Base], SUM([Unique Customer]) [Unique Customer] ,''0'' [% of Coverage] ,sum([Total Visit]) [Total Visit] '+@sqlSumQry+' FROM PERFORMANCESUMMARY_MTD_MAIL WHERE [Employee name]<>''Total'' '
		EXEC SP_EXECUTESQL @sqlInsertQry1
		-- End of Rev 1.0

		

	--SELECT * FROM PERFORMANCESUMMARY_MTD_MAIL
	-- END OF REV SANCHITA [AUTOMAIL]

	DROP TABLE #EMPPERFORMANCEMTD
	DROP TABLE #TMPHEADINGPMTD
	DROP TABLE #TMPPERFORMANCEMTD
	DROP TABLE #TMPPERFORMANCEMTDDET
	DROP TABLE #TMPPERFORMANCEMTDSUM

	SET NOCOUNT OFF
END