--EXEC PRC_FSMLMSINFODETAILS 'TOPICLISTS','55002'
--EXEC PRC_FSMLMSINFODETAILS 'TOPICWISELISTS','55002',25
--EXEC PRC_FSMLMSINFODETAILS @ACTION='LEARNINGCONTENTLIST',@USER_ID=55002
--EXEC PRC_FSMLMSINFODETAILS @ACTION='SHOWRETRYINCORRECTQUIZ',@USER_ID=55002,@TOPIC_ID=128,@CONTENT_ID=173

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PRC_FSMLMSINFODETAILS]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [PRC_FSMLMSINFODETAILS] AS' 
END
GO

ALTER PROCEDURE  [dbo].[PRC_FSMLMSINFODETAILS]
(
@ACTION NVARCHAR(50),
@USER_ID BIGINT=NULL,
@TOPIC_ID BIGINT=NULL,
@TOPICNAME NVARCHAR(300)=NULL,
@CONTENT_ID BIGINT=NULL,
@ISLIKE BIT=NULL,
@SHARE_COUNT INT=NULL,
@CONTENT_LENGTH NVARCHAR(10)=NULL,
@CONTENT_WATCH_LENGTH NVARCHAR(10)=NULL,
@ISCONTENTCOMPLETED BIT=NULL,
@CONTENTLASTVIEW DATETIME=NULL,
@WATCHSTARTDATE DATETIME=NULL,
@WATCHSTARTTIME NVARCHAR(10)=NULL,
@WATCHENDDATE DATETIME=NULL,
@WATCHENDTIME NVARCHAR(10)=NULL,
@WATCHEDDURATION NVARCHAR(10)=NULL,
@WATCHTIMESTAMP NVARCHAR(10)=NULL,
@DEVICETYPE NVARCHAR(50)=NULL,
@OPERATING_SYSTEM NVARCHAR(50)=NULL,
@WATCHLOCATION NVARCHAR(200)=NULL,
@PLAYBACKSPEED NVARCHAR(100)=NULL,
@WATCH_PERCENTAGE INT=NULL,
@QUIZATTEMPTSNO INT=NULL,
@QUIZSCORES DECIMAL(20,2)=NULL,
@COMPLETIONSTATUS BIT=NULL,
@CONTENTCOUNTSAVEDATE DATETIME=NULL,
@WATCHCOUNT INT=NULL,
@LIKECOUNT INT=NULL,
@COMMENTCOUNT INT=NULL,
@CORRECTANSCOUNT INT=NULL,
@WRONGANSCOUNT INT=NULL,
@AttachmentUrl NVARCHAR(100)=NULL,
@SUBACTION NVARCHAR(50)=NULL,
@BRANCHWISE NVARCHAR(MAX)=NULL,
@ACTIVITYMODE NCHAR(1)=NULL,
@PROFILEIMAGEPATH NVARCHAR(500)=NULL,
@CONTENTNAME NVARCHAR(300)=NULL,
@CONTENTDESC NVARCHAR(300)=NULL,
@CONTENTBITMAP NVARCHAR(500)=NULL,
@CONTENTURL NVARCHAR(500)=NULL,
@ADDBOOKMARK NCHAR(1)=NULL,
@QUESTION_ID BIGINT=NULL,
@QUESTION NVARCHAR(500)=NULL,
@OPTION_ID BIGINT=NULL,
@OPTION_NUMBER NVARCHAR(500)=NULL,
@OPTION_POINT BIGINT=NULL,
@ISCORRECT BIT=NULL,
@JsonXML XML=NULL
) --WITH ENCRYPTION
AS
/************************************************************************************************************************************************************************************************************
Written by : Debashis Talukder ON 02/07/2024
Module	   : LMS Info Details.Refer: Row: 945,947,948,949,950,952,953,955,956,971,972,973,974,975,980,988,989,990 & 995
************************************************************************************************************************************************************************************************************/
BEGIN
	SET NOCOUNT ON
	
	DECLARE @USERINTERNALID NVARCHAR(20),@LASTRECORD BIGINT=0,@LASTCREATEDBY BIGINT,@LASTCREATEDON DATETIME,@M_WATCHCOUNT INT,@M_LIKECOUNT INT,@M_SHARECOUNT INT,@M_COMMENTCOUNT INT,
	@M_CORRECTANSCOUNT INT,@M_WRONGANSCOUNT INT,@StrSql NVARCHAR(MAX)

	SET @USERINTERNALID=(SELECT user_contactId FROM tbl_master_user WHERE user_id=@USER_ID)

	IF @ACTION='LEADERBOARD'
		BEGIN
			IF OBJECT_ID('tempdb..#TEMPCONTACT') IS NOT NULL
				DROP TABLE #TEMPCONTACT
			CREATE TABLE #TEMPCONTACT
				(
					cnt_internalId NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
					cnt_branchid INT,
					cnt_UCC NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
					cnt_firstName NVARCHAR(150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
					cnt_middleName NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
					cnt_lastName NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
					cnt_contactType NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL			
				)
			CREATE NONCLUSTERED INDEX IX_PARTYID ON #TEMPCONTACT(cnt_internalId,cnt_contactType ASC)
			INSERT INTO #TEMPCONTACT(cnt_internalId,cnt_branchid,cnt_UCC,cnt_firstName,cnt_middleName,cnt_lastName,cnt_contactType)
			SELECT cnt_internalId,cnt_branchid,cnt_UCC,cnt_firstName,cnt_middleName,cnt_lastName,cnt_contactType
			FROM TBL_MASTER_CONTACT WITH (NOLOCK)
			WHERE cnt_contactType IN('EM')

			IF OBJECT_ID('tempdb..#LBRANCH_LIST') IS NOT NULL
				DROP TABLE #LBRANCH_LIST
			CREATE TABLE #LBRANCH_LIST (BRANCH_ID BIGINT NULL)
			CREATE NONCLUSTERED INDEX IX1 ON #LBRANCH_LIST (BRANCH_ID ASC)
		
			IF @BRANCHWISE<>''  
				BEGIN
					SET @BRANCHWISE = REPLACE(@BRANCHWISE,'''','')
					SET @StrSql=''
					SET @StrSql='INSERT INTO #LBRANCH_LIST(BRANCH_ID) '
					SET @StrSql+='SELECT DISTINCT BRANCH_ID FROM TBL_MASTER_BRANCH WHERE branch_id IN('+@BRANCHWISE+') '

					--SELECT @StrSql
					EXEC SP_EXECUTESQL @StrSql
				END
			
			IF OBJECT_ID('tempdb..#TMPLMSLB') IS NOT NULL
				DROP TABLE #TMPLMSLB
			CREATE TABLE #TMPLMSLB(ACTIVITYMODE CHAR(1),USERID INT,BRANCH_ID BIGINT,BRANCHDESC NVARCHAR(300),EMPCODE NVARCHAR(100) NULL,EMPID NVARCHAR(100) NULL,EMPNAME NVARCHAR(300) NULL,STATEID INT,
			STATENAME NVARCHAR(50) NULL,DEG_ID INT,DESIGNATION NVARCHAR(50) NULL,DATEOFJOINING NVARCHAR(10),CONTACTNO NVARCHAR(50) NULL,WATCHCNT INT,LIKECNT INT,COMMENTCNT INT,SHARECNT INT,CQACNT INT,
			TOTALSCORES INT,POSITION INT,PROFILE_PICTURES_URL NVARCHAR(500))
			CREATE NONCLUSTERED INDEX IX1 ON #TMPLMSLB (POSITION)
		END

	IF @ACTION='TOPICLISTS'
		BEGIN
			IF @USER_ID=''
				BEGIN
					SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,ISNULL(LC.CONTENTCNT,0) AS video_count,ISNULL(ISCONTENTCOMPLETED,0) AS no_of_pending_video_count, 
					topic_parcentage,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM
					LEFT OUTER JOIN (SELECT CONTENT_TOPICID,CONTENTSTATUS,COUNT(CONTENTID) AS CONTENTCNT FROM LMS_CONTENT
					GROUP BY CONTENT_TOPICID,CONTENTSTATUS) LC ON TM.TOPICID=LC.CONTENT_TOPICID
					LEFT OUTER JOIN (
					SELECT CONTENT_TOPICID AS TOPICID,SUM(DISTINCT WATCH_PERCENTAGE)/COUNT(DISTINCT CONTENTID) AS topic_parcentage,COUNT(DISTINCT ISCONTENTCOMPLETED) AS ISCONTENTCOMPLETED
					FROM LMS_CONTENT LC 
					INNER JOIN(
					SELECT TOPICID,COUNT(ISCONTENTCOMPLETED) AS ISCONTENTCOMPLETED,SUM(WATCH_PERCENTAGE) AS WATCH_PERCENTAGE 
					FROM FSMUSERLMSTOPICCONTENTINFO
					GROUP BY TOPICID
					) TC ON LC.CONTENT_TOPICID=TC.TOPICID
					GROUP BY CONTENT_TOPICID
					) TCINFO ON TM.TOPICID=TCINFO.TOPICID
					WHERE LC.CONTENTSTATUS=1
				END
			ELSE IF @USER_ID<>''
				BEGIN
					SELECT topic_id,topic_name,ISNULL(LC.CONTENTCNT,0) AS video_count,ISNULL(TCINFO.ISCONTENTCOMPLETED,0) AS no_of_pending_video_count,topic_parcentage,topic_sequence
					FROM(
					SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM 
					INNER JOIN LMS_TOPIC_BRANCHMAP TBM ON TM.TOPICID=TBM.TOPICID 
					INNER JOIN FTS_EmployeeBranchMap EBM ON TBM.TOPIC_BRANCHID=EBM.BranchId AND EBM.EMP_CONTACTID=@USERINTERNALID
					UNION ALL 
					SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM 
					INNER JOIN LMS_TOPIC_DESIGMAP DEG ON TM.TOPICID=DEG.TOPICID 
					INNER JOIN tbl_trans_employeeCTC CTC ON DEG.TOPIC_DESIGID=CTC.emp_Designation AND CTC.emp_cntId=@USERINTERNALID
					UNION ALL 
					SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM 
					INNER JOIN LMS_TOPIC_DEPTMAP DEPT ON TM.TOPICID=DEPT.TOPICID 
					INNER JOIN tbl_trans_employeeCTC CTC ON DEPT.TOPIC_DEPTID=CTC.emp_Department AND CTC.emp_cntId=@USERINTERNALID
					UNION ALL 
					SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM 
					INNER JOIN LMS_TOPIC_EMPMAP TEMP ON TM.TOPICID=TEMP.TOPICID 
					INNER JOIN tbl_master_employee TME ON TEMP.TOPIC_EMPCNTID=TME.emp_contactId AND TME.emp_contactId=@USERINTERNALID
					) TLIST 
					LEFT OUTER JOIN (SELECT CONTENT_TOPICID,CONTENTSTATUS,COUNT(CONTENTID) AS CONTENTCNT FROM LMS_CONTENT
					GROUP BY CONTENT_TOPICID,CONTENTSTATUS) LC ON TLIST.topic_id=LC.CONTENT_TOPICID
					LEFT OUTER JOIN (
					SELECT CONTENT_TOPICID AS TOPICID,SUM(DISTINCT WATCH_PERCENTAGE)/COUNT(DISTINCT CONTENTID) AS topic_parcentage,COUNT(DISTINCT ISCONTENTCOMPLETED) AS ISCONTENTCOMPLETED
					FROM LMS_CONTENT LC 
					INNER JOIN(
					SELECT TOPICID,COUNT(ISCONTENTCOMPLETED) AS ISCONTENTCOMPLETED,SUM(WATCH_PERCENTAGE) AS WATCH_PERCENTAGE 
					FROM FSMUSERLMSTOPICCONTENTINFO WHERE USERID=@USER_ID
					GROUP BY TOPICID
					) TC ON LC.CONTENT_TOPICID=TC.TOPICID
					GROUP BY CONTENT_TOPICID
					) TCINFO ON TLIST.topic_id=TCINFO.TOPICID
					WHERE LC.CONTENTSTATUS=1
					GROUP BY topic_id,topic_name,LC.CONTENTCNT,TCINFO.ISCONTENTCOMPLETED,TCINFO.topic_parcentage,TLIST.topic_sequence 
				END
		END
	IF @ACTION='TOPICWISELISTS'
		BEGIN
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name FROM LMS_TOPICS TM WHERE TM.TOPICID=@TOPIC_ID

			SELECT LC.CONTENT_TOPICID AS topic_id,LC.CONTENTID AS content_id,CASE WHEN LC.CONTENT_FILEPATH<>'' THEN ISNULL(@AttachmentUrl,'')+REPLACE(LC.CONTENT_FILEPATH,'~','') ELSE '' END AS content_url,
			CASE WHEN LC.CONTENT_FILEPATHICON<>'' THEN ISNULL(@AttachmentUrl,'')+REPLACE(LC.CONTENT_FILEPATHICON,'~','') ELSE '' END AS content_thumbnail,LC.CONTENTTITLE AS content_title,LC.CONTENTDESC AS content_description,
			LC.CONTENT_PLAYSEQ AS content_play_sequence,CAST(LC.CONTENT_ALLOWLIKE AS bit) AS isAllowLike,CAST(LC.CONTENT_ALLOWCOMMENTS AS bit) AS isAllowComment,CAST(LC.CONTENT_ALLOWSHARE AS bit) AS isAllowShare,
			ISNULL(CMAP.no_of_comment,0) AS no_of_comment,CAST(ISNULL(TCINFO.ISLIKE,0) AS bit) AS like_flag,ISNULL(TCINFO.SHARE_COUNT,0) AS share_count,ISNULL(TCINFO.CONTENT_LENGTH,'') AS content_length,ISNULL(TCINFO.CONTENT_WATCH_LENGTH,'') AS content_watch_length,
			CAST(ISNULL(TCINFO.ISCONTENTCOMPLETED,0) AS bit) AS content_watch_completed,ISNULL(CONVERT(NVARCHAR(10),TCINFO.CONTENTLASTVIEW,105) +' '+CONVERT(NVARCHAR(8),CAST(TCINFO.CONTENTLASTVIEW AS TIME),108),'') AS content_last_view_date_time,
			ISNULL(TCINFO.WATCHSTARTTIME,'') AS WatchStartTime,ISNULL(TCINFO.WATCHENDTIME,'') AS WatchEndTime,ISNULL(TCINFO.WATCHEDDURATION,'') AS WatchedDuration,ISNULL(TCINFO.WATCHTIMESTAMP,'') AS [Timestamp],ISNULL(TCINFO.DEVICETYPE,'') AS DeviceType,
			ISNULL(TCINFO.OPERATING_SYSTEM,'') AS Operating_System,ISNULL(TCINFO.WATCHLOCATION,'') AS [Location],ISNULL(TCINFO.PLAYBACKSPEED,'') AS PlaybackSpeed,ISNULL(TCINFO.WATCH_PERCENTAGE,'') AS Watch_Percentage,ISNULL(TCINFO.QUIZATTEMPTSNO,0) AS QuizAttemptsNo,
			ISNULL(TCINFO.QUIZSCORES,0) AS QuizScores,CAST(ISNULL(QASAVE.COMPLETIONSTATUS,0) AS bit) AS CompletionStatus,LC.CONTENT_QUIZTIME,BM.ADDBOOKMARK AS isBookmarked
			FROM LMS_CONTENT LC
			LEFT OUTER JOIN(SELECT TOPICID,CONTENT_ID,ISLIKE,SHARE_COUNT,CONTENT_LENGTH,CONTENT_WATCH_LENGTH,ISCONTENTCOMPLETED,CONTENTLASTVIEW,WATCHSTARTTIME,WATCHENDTIME,WATCHEDDURATION,
			WATCHTIMESTAMP,DEVICETYPE,OPERATING_SYSTEM,WATCHLOCATION,PLAYBACKSPEED,WATCH_PERCENTAGE,QUIZATTEMPTSNO,QUIZSCORES,COMPLETIONSTATUS 
			FROM FSMUSERLMSTOPICCONTENTINFO WHERE TOPICID=@TOPIC_ID AND USERID=@USER_ID) TCINFO ON LC.CONTENTID=TCINFO.CONTENT_ID
			LEFT OUTER JOIN(SELECT TOPICID,CONTENT_ID,COMPLETIONSTATUS FROM FSMUSERTOPICCONTENTWISEQA 
			WHERE TOPICID=@TOPIC_ID AND USERID=@USER_ID) QASAVE ON LC.CONTENTID=QASAVE.CONTENT_ID
			LEFT OUTER JOIN(SELECT CONTENT_ID,COUNT(ID) AS no_of_comment FROM FSMUSERLMSTOPICCONTENTCOMMENTSMAP GROUP BY CONTENT_ID) CMAP ON LC.CONTENTID=CMAP.CONTENT_ID
			LEFT OUTER JOIN FSMUSERLMSBOOKMARKINFO BM ON LC.CONTENTID=BM.CONTENTID AND BM.TOPICID=@TOPIC_ID AND USERID=@USER_ID
			WHERE LC.CONTENT_TOPICID=@TOPIC_ID AND LC.CONTENTSTATUS=1
			ORDER BY LC.CONTENT_TOPICID,LC.CONTENTID

			SELECT LC.CONTENT_TOPICID AS topic_id,LC.CONTENTID AS content_id,LCQM.CONTENT_QUESTIONID AS question_id,QS.QUESTIONS_NAME AS question,QS.QUESTIONS_DESCRIPTN AS question_description
			FROM LMS_CONTENT LC 
			INNER JOIN LMS_CONTENT_QUESTIONMAP LCQM ON LC.CONTENTID=LCQM.CONTENTID 
			INNER JOIN LMS_QUESTIONS QS ON LCQM.CONTENT_QUESTIONID=QS.QUESTIONS_ID
			WHERE LC.CONTENT_TOPICID=@TOPIC_ID AND LC.CONTENTSTATUS=1
			ORDER BY LC.CONTENT_TOPICID,LC.CONTENTID,LCQM.CONTENT_QUESTIONID

			SELECT LC.CONTENT_TOPICID AS topic_id,LC.CONTENTID AS content_id,LCQM.CONTENT_QUESTIONID AS question_id,QS.QUESTIONS_NAME AS question,QS.QUESTIONS_DESCRIPTN AS question_description,
			QOPTN.QUESTIONS_OPTIONSID AS option_id,QOPTN.OPTIONS_NUMBER1 AS option_no_1,
			QOPTN.OPTIONS_POINT1 AS option_point_1,CAST(QOPTN.OPTIONS_CORRECT1 AS bit) AS isCorrect_1,QOPTN.OPTIONS_NUMBER2 AS option_no_2,QOPTN.OPTIONS_POINT2 AS option_point_2,
			CAST(QOPTN.OPTIONS_CORRECT2 AS bit) AS isCorrect_2,QOPTN.OPTIONS_NUMBER3 AS option_no_3,QOPTN.OPTIONS_POINT3 AS option_point_3,CAST(QOPTN.OPTIONS_CORRECT3 AS bit) AS isCorrect_3,
			QOPTN.OPTIONS_NUMBER4 AS option_no_4,QOPTN.OPTIONS_POINT4 AS option_point_4,CAST(QOPTN.OPTIONS_CORRECT4 AS bit) AS isCorrect_4
			FROM LMS_CONTENT LC 
			INNER JOIN LMS_CONTENT_QUESTIONMAP LCQM ON LC.CONTENTID=LCQM.CONTENTID
			INNER JOIN LMS_QUESTIONS QS ON LCQM.CONTENT_QUESTIONID=QS.QUESTIONS_ID
			INNER JOIN LMS_QUESTIONSOPTIONS QOPTN ON QS.QUESTIONS_ID=QOPTN.QUESTIONS_ID
			WHERE LC.CONTENT_TOPICID=@TOPIC_ID AND LC.CONTENTSTATUS=1
			ORDER BY LC.CONTENT_TOPICID,LC.CONTENTID,LCQM.CONTENT_QUESTIONID
		END
	IF @ACTION='MODULEINFOSAVE'
		BEGIN
			BEGIN TRAN
				BEGIN TRY
					INSERT INTO FSMUSERLMSINFOLIST(USERID,MODULE_NAME,COUNTOFUSE,TIMESPEND,LASTCURRENTLAT,LASTCURRENTLONG,LASTCURRENTADDRESS,INFODATETIME,PHONE_MODEL,CREATED_BY,CREATED_ON)
					SELECT @USER_ID,
					XMLproduct.value('(module_name/text())[1]','NVARCHAR(200)') AS module_name,
					XMLproduct.value('(count_of_use/text())[1]','INT') AS count_of_use,
					XMLproduct.value('(time_spend/text())[1]','NVARCHAR(10)') AS time_spend,
					XMLproduct.value('(last_current_loc_lat/text())[1]','NVARCHAR(50)') AS last_current_loc_lat,
					XMLproduct.value('(last_current_loc_long/text())[1]','NVARCHAR(50)') AS last_current_loc_long,
					XMLproduct.value('(last_current_loc_address/text())[1]','NVARCHAR(300)') AS last_current_loc_address,
					XMLproduct.value('(date_time/text())[1]','DATETIME') AS date_time,
					XMLproduct.value('(phone_model/text())[1]','NVARCHAR(50)') AS phone_model,
					@USER_ID,GETDATE()
					FROM @JsonXML.nodes('/root/data')AS TEMPTABLE(XMLproduct)

					SELECT USERID FROM FSMUSERLMSINFOLIST WHERE USERID=@USER_ID
				COMMIT TRAN
			END TRY
			BEGIN CATCH
				ROLLBACK TRAN
				SELECT ERROR_NUMBER() AS ErrorNumber,ERROR_MESSAGE() AS ErrorMessage
			END CATCH
		END
	IF @ACTION='TOPICCONTENTDETAILSSAVE'
		BEGIN
			BEGIN TRAN
				BEGIN TRY
					IF NOT EXISTS(SELECT CONTENT_ID FROM FSMUSERLMSTOPICCONTENTINFO WHERE CONTENT_ID=@CONTENT_ID AND TOPICID=@TOPIC_ID AND USERID=@USER_ID)
						BEGIN
							SET @LASTRECORD=(SELECT TOP 1 ISNULL(ID,0) AS ID FROM FSMUSERLMSTOPICCONTENTINFO ORDER BY ID DESC)
							IF @LASTRECORD IS NULL
								SET @LASTRECORD=0

							INSERT INTO FSMUSERLMSTOPICCONTENTINFO(ID,USERID,TOPICID,TOPICNAME,CONTENT_ID,ISLIKE,SHARE_COUNT,CONTENT_LENGTH,CONTENT_WATCH_LENGTH,ISCONTENTCOMPLETED,CONTENTLASTVIEW,
							WATCHSTARTDATE,WATCHSTARTTIME,WATCHENDDATE,WATCHENDTIME,WATCHEDDURATION,WATCHTIMESTAMP,DEVICETYPE,OPERATING_SYSTEM,WATCHLOCATION,PLAYBACKSPEED,WATCH_PERCENTAGE,
							QUIZATTEMPTSNO,QUIZSCORES,COMPLETIONSTATUS,CREATED_BY,CREATED_ON)
							SELECT (@LASTRECORD+1),@USER_ID,@TOPIC_ID,@TOPICNAME,@CONTENT_ID,@ISLIKE,@SHARE_COUNT,@CONTENT_LENGTH,@CONTENT_WATCH_LENGTH,@ISCONTENTCOMPLETED,@CONTENTLASTVIEW,
							@WATCHSTARTDATE,@WATCHSTARTTIME,@WATCHENDDATE,@WATCHENDTIME,@WATCHEDDURATION,@WATCHTIMESTAMP,@DEVICETYPE,@OPERATING_SYSTEM,@WATCHLOCATION,@PLAYBACKSPEED,
							@WATCH_PERCENTAGE,@QUIZATTEMPTSNO,@QUIZSCORES,@COMPLETIONSTATUS,@USER_ID,GETDATE()
							WHERE EXISTS(SELECT TOPICID FROM LMS_TOPICS WHERE TOPICID=@TOPIC_ID)
							AND EXISTS(SELECT CONTENTID FROM LMS_CONTENT WHERE CONTENTID=@CONTENT_ID)

							INSERT INTO FSMUSERLMSTOPICCONTENTCOMMENTSMAP(ID,USERID,TOPICID,CONTENT_ID,COMMENTED_USER_ID,COMMENTED_USER_NAME,COMMENT_ID,COMMENT_DESCRIPTION,COMMENT_DATE_TIME,CREATED_BY,CREATED_ON)
							SELECT (@LASTRECORD+1),@USER_ID,@TOPIC_ID,
							XMLproduct.value('(content_id/text())[1]','BIGINT') AS content_id,
							XMLproduct.value('(commented_user_id/text())[1]','BIGINT') AS commented_user_id,
							XMLproduct.value('(commented_user_name/text())[1]','NVARCHAR(300)') AS commented_user_name,
							XMLproduct.value('(comment_id/text())[1]','NVARCHAR(100)') AS comment_id,
							XMLproduct.value('(comment_description/text())[1]','NVARCHAR(300)') AS comment_description,
							XMLproduct.value('(comment_date_time/text())[1]','DATETIME') AS comment_date_time,
							@USER_ID,GETDATE()
							FROM @JsonXML.nodes('/root/data')AS TEMPTABLE(XMLproduct)
							INNER JOIN LMS_CONTENT LC ON LC.CONTENTID=XMLproduct.value('(content_id/text())[1]','BIGINT')
							WHERE EXISTS(SELECT TOPICID FROM LMS_TOPICS WHERE TOPICID=@TOPIC_ID)
						END
					ELSE
						BEGIN
							SELECT @LASTRECORD=ISNULL(ID,0),@LASTCREATEDBY=CREATED_BY,@LASTCREATEDON=CREATED_ON FROM FSMUSERLMSTOPICCONTENTINFO WHERE CONTENT_ID=@CONTENT_ID AND TOPICID=@TOPIC_ID AND USERID=@USER_ID

							DELETE FROM FSMUSERLMSTOPICCONTENTINFO WHERE CONTENT_ID=@CONTENT_ID AND TOPICID=@TOPIC_ID AND USERID=@USER_ID

							INSERT INTO FSMUSERLMSTOPICCONTENTINFO(ID,USERID,TOPICID,TOPICNAME,CONTENT_ID,ISLIKE,SHARE_COUNT,CONTENT_LENGTH,CONTENT_WATCH_LENGTH,ISCONTENTCOMPLETED,CONTENTLASTVIEW,
							WATCHSTARTDATE,WATCHSTARTTIME,WATCHENDDATE,WATCHENDTIME,WATCHEDDURATION,WATCHTIMESTAMP,DEVICETYPE,OPERATING_SYSTEM,WATCHLOCATION,PLAYBACKSPEED,WATCH_PERCENTAGE,
							QUIZATTEMPTSNO,QUIZSCORES,COMPLETIONSTATUS,CREATED_BY,CREATED_ON,MODIFIED_BY,MODIFIED_ON)
							SELECT @LASTRECORD,@USER_ID,@TOPIC_ID,@TOPICNAME,@CONTENT_ID,@ISLIKE,@SHARE_COUNT,@CONTENT_LENGTH,@CONTENT_WATCH_LENGTH,@ISCONTENTCOMPLETED,@CONTENTLASTVIEW,
							@WATCHSTARTDATE,@WATCHSTARTTIME,@WATCHENDDATE,@WATCHENDTIME,@WATCHEDDURATION,@WATCHTIMESTAMP,@DEVICETYPE,@OPERATING_SYSTEM,@WATCHLOCATION,@PLAYBACKSPEED,
							@WATCH_PERCENTAGE,@QUIZATTEMPTSNO,@QUIZSCORES,@COMPLETIONSTATUS,@LASTCREATEDBY,@LASTCREATEDON,@USER_ID,GETDATE()
							WHERE EXISTS(SELECT TOPICID FROM LMS_TOPICS WHERE TOPICID=@TOPIC_ID)
							AND EXISTS(SELECT CONTENTID FROM LMS_CONTENT WHERE CONTENTID=@CONTENT_ID)

							INSERT INTO FSMUSERLMSTOPICCONTENTCOMMENTSMAP(ID,USERID,TOPICID,CONTENT_ID,COMMENTED_USER_ID,COMMENTED_USER_NAME,COMMENT_ID,COMMENT_DESCRIPTION,COMMENT_DATE_TIME,CREATED_BY,CREATED_ON,MODIFIED_BY,MODIFIED_ON)
							SELECT @LASTRECORD,@USER_ID,@TOPIC_ID,
							XMLproduct.value('(content_id/text())[1]','BIGINT') AS content_id,
							XMLproduct.value('(commented_user_id/text())[1]','BIGINT') AS commented_user_id,
							XMLproduct.value('(commented_user_name/text())[1]','NVARCHAR(300)') AS commented_user_name,
							XMLproduct.value('(comment_id/text())[1]','NVARCHAR(100)') AS comment_id,
							XMLproduct.value('(comment_description/text())[1]','NVARCHAR(300)') AS comment_description,
							XMLproduct.value('(comment_date_time/text())[1]','DATETIME') AS comment_date_time,
							@LASTCREATEDBY,@LASTCREATEDON,@USER_ID,GETDATE()
							FROM @JsonXML.nodes('/root/data')AS TEMPTABLE(XMLproduct)
							INNER JOIN LMS_CONTENT LC ON LC.CONTENTID=XMLproduct.value('(content_id/text())[1]','BIGINT')
							WHERE EXISTS(SELECT TOPICID FROM LMS_TOPICS WHERE TOPICID=@TOPIC_ID)
						END					

					SELECT TOPICID FROM FSMUSERLMSTOPICCONTENTINFO WHERE TOPICID=@TOPIC_ID AND CONTENT_ID=@CONTENT_ID
				COMMIT TRAN
			END TRY
			BEGIN CATCH
				ROLLBACK TRAN
				SELECT ERROR_NUMBER() AS ErrorNumber,ERROR_MESSAGE() AS ErrorMessage
			END CATCH
		END
	IF @ACTION='LEARNINGCONTENTLIST'
		BEGIN
			SELECT topic_id,topic_name,LC.CONTENTID AS content_id,CASE WHEN LC.CONTENT_FILEPATH<>'' THEN ISNULL(@AttachmentUrl,'')+REPLACE(LC.CONTENT_FILEPATH,'~','') ELSE '' END AS content_url,
			LC.CONTENTTITLE AS content_title,LC.CONTENTDESC AS content_description,TC.CONTENT_LENGTH AS content_length,TC.CONTENT_WATCH_LENGTH	AS content_watch_length,
			TC.ISCONTENTCOMPLETED AS content_watch_completed,CONVERT(NVARCHAR(10),TC.CONTENTLASTVIEW,105)+' '+CONVERT(NVARCHAR(8),CAST(TC.CONTENTLASTVIEW AS TIME),108) AS content_last_view_date_time,
			TC.WATCHSTARTTIME AS WatchStartTime,TC.WATCHENDTIME AS WatchEndTime,TC.WATCHEDDURATION AS WatchedDuration,TC.WATCHTIMESTAMP AS [Timestamp],TC.DEVICETYPE AS DeviceType,
			TC.OPERATING_SYSTEM AS Operating_System,TC.WATCHLOCATION [Location],TC.PLAYBACKSPEED AS PlaybackSpeed,TC.WATCH_PERCENTAGE AS Watch_Percentage,TC.QUIZATTEMPTSNO AS QuizAttemptsNo,
			TC.QUIZSCORES AS QuizScores,TC.COMPLETIONSTATUS AS CompletionStatus,CASE WHEN LC.CONTENT_FILEPATHICON<>'' THEN ISNULL(@AttachmentUrl,'')+REPLACE(LC.CONTENT_FILEPATHICON,'~','') ELSE '' END AS content_thumbnail
			FROM(
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name FROM LMS_TOPICS TM 
			INNER JOIN LMS_TOPIC_BRANCHMAP TBM ON TM.TOPICID=TBM.TOPICID 
			INNER JOIN FTS_EmployeeBranchMap EBM ON TBM.TOPIC_BRANCHID=EBM.BranchId AND EBM.EMP_CONTACTID=@USERINTERNALID
			UNION ALL 
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name FROM LMS_TOPICS TM 
			INNER JOIN LMS_TOPIC_DESIGMAP DEG ON TM.TOPICID=DEG.TOPICID 
			INNER JOIN tbl_trans_employeeCTC CTC ON DEG.TOPIC_DESIGID=CTC.emp_Designation AND CTC.emp_cntId=@USERINTERNALID
			UNION ALL 
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name FROM LMS_TOPICS TM 
			INNER JOIN LMS_TOPIC_DEPTMAP DEPT ON TM.TOPICID=DEPT.TOPICID 
			INNER JOIN tbl_trans_employeeCTC CTC ON DEPT.TOPIC_DEPTID=CTC.emp_Department AND CTC.emp_cntId=@USERINTERNALID
			UNION ALL 
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name FROM LMS_TOPICS TM 
			INNER JOIN LMS_TOPIC_EMPMAP TEMP ON TM.TOPICID=TEMP.TOPICID 
			INNER JOIN tbl_master_employee TME ON TEMP.TOPIC_EMPCNTID=TME.emp_contactId AND TME.emp_contactId=@USERINTERNALID
			) TLIST 
			LEFT OUTER JOIN LMS_CONTENT LC ON TLIST.topic_id=LC.CONTENT_TOPICID
			LEFT OUTER JOIN FSMUSERLMSTOPICCONTENTINFO TC ON TLIST.topic_id=TC.TOPICID AND LC.CONTENTID=TC.CONTENT_ID
			WHERE TC.USERID=@USER_ID
		END
	IF @ACTION='COMMENTLIST'
		BEGIN
			SELECT TOPICID AS topic_id,CONTENT_ID AS content_id,COMMENT_ID AS comment_id,COMMENT_DESCRIPTION AS comment_description,
			CONVERT(NVARCHAR(10),COMMENT_DATE_TIME,105) +' '+CONVERT(NVARCHAR(8),CAST(COMMENT_DATE_TIME AS TIME),108) AS comment_date_time,
			COMMENTED_USER_ID AS commented_user_id,COMMENTED_USER_NAME AS commented_user_name FROM FSMUSERLMSTOPICCONTENTCOMMENTSMAP
			WHERE TOPICID=@TOPIC_ID AND CONTENT_ID=@CONTENT_ID
			ORDER BY COMMENT_DATE_TIME
		END
	IF @ACTION='CONTENTCOUNTSAVE'
		BEGIN
			BEGIN TRAN
				BEGIN TRY
					IF NOT EXISTS(SELECT USERID FROM FSMUSERLMSCONTENTCOUNTINFO WHERE USERID=@USER_ID AND CONTENTCOUNTSAVEDATE=@CONTENTCOUNTSAVEDATE)
						BEGIN
							SET @LASTRECORD=(SELECT TOP 1 ISNULL(ID,0) AS ID FROM FSMUSERLMSCONTENTCOUNTINFO ORDER BY ID DESC)
							IF @LASTRECORD IS NULL
								SET @LASTRECORD=0

							INSERT INTO FSMUSERLMSCONTENTCOUNTINFO(ID,USERID,CONTENTCOUNTSAVEDATE,WATCHCOUNT,LIKECOUNT,SHARECOUNT,COMMENTCOUNT,CORRECTANSCOUNT,WRONGANSCOUNT,CREATED_BY,CREATED_ON)
							SELECT (@LASTRECORD+1),@USER_ID,@CONTENTCOUNTSAVEDATE,@WATCHCOUNT,@LIKECOUNT,@SHARE_COUNT,@COMMENTCOUNT,@CORRECTANSCOUNT,@WRONGANSCOUNT,@USER_ID,GETDATE()
						END
					ELSE
						BEGIN
							SELECT @LASTRECORD=ISNULL(ID,0),@LASTCREATEDBY=CREATED_BY,@LASTCREATEDON=CREATED_ON FROM FSMUSERLMSCONTENTCOUNTINFO 
							WHERE USERID=@USER_ID AND CONTENTCOUNTSAVEDATE=@CONTENTCOUNTSAVEDATE

							SELECT @M_WATCHCOUNT=SUM(ISNULL(WATCHCOUNT,0)),@M_LIKECOUNT=SUM(ISNULL(LIKECOUNT,0)),@M_SHARECOUNT=SUM(ISNULL(SHARECOUNT,0)),
							@M_COMMENTCOUNT=SUM(ISNULL(COMMENTCOUNT,0)),@M_CORRECTANSCOUNT=SUM(ISNULL(CORRECTANSCOUNT,0)),@M_WRONGANSCOUNT=SUM(ISNULL(WRONGANSCOUNT,0)) 
							FROM FSMUSERLMSCONTENTCOUNTINFO WHERE USERID=@USER_ID AND CONTENTCOUNTSAVEDATE=@CONTENTCOUNTSAVEDATE

							DELETE FROM FSMUSERLMSCONTENTCOUNTINFO WHERE USERID=@USER_ID AND CONTENTCOUNTSAVEDATE=@CONTENTCOUNTSAVEDATE

							INSERT INTO FSMUSERLMSCONTENTCOUNTINFO(ID,USERID,CONTENTCOUNTSAVEDATE,WATCHCOUNT,LIKECOUNT,SHARECOUNT,COMMENTCOUNT,CORRECTANSCOUNT,WRONGANSCOUNT,CREATED_BY,CREATED_ON,
							MODIFIED_BY,MODIFIED_ON)
							SELECT @LASTRECORD,@USER_ID,@CONTENTCOUNTSAVEDATE,(@M_WATCHCOUNT+@WATCHCOUNT),(@M_LIKECOUNT+@LIKECOUNT),(@M_SHARECOUNT+@SHARE_COUNT),(@M_COMMENTCOUNT+@COMMENTCOUNT),
							(@M_CORRECTANSCOUNT+@CORRECTANSCOUNT),(@M_WRONGANSCOUNT+@WRONGANSCOUNT),@LASTCREATEDBY,@LASTCREATEDON,@USER_ID,GETDATE()
						END					

					SELECT USERID FROM FSMUSERLMSCONTENTCOUNTINFO WHERE USERID=@USER_ID AND CONTENTCOUNTSAVEDATE=@CONTENTCOUNTSAVEDATE
				COMMIT TRAN
			END TRY
			BEGIN CATCH
				ROLLBACK TRAN
				SELECT ERROR_NUMBER() AS ErrorNumber,ERROR_MESSAGE() AS ErrorMessage
			END CATCH
		END
	IF @ACTION='TOPICCONTENTWISEQASAVE'
		BEGIN
			BEGIN TRAN
				BEGIN TRY
					SET @LASTRECORD=(SELECT TOP 1 ISNULL(ID,0) AS ID FROM FSMUSERTOPICCONTENTWISEQA ORDER BY ID DESC)
					IF @LASTRECORD IS NULL
						SET @LASTRECORD=0

					INSERT INTO FSMUSERTOPICCONTENTWISEQA(ID,USERID,TOPICID,TOPICNAME,CONTENT_ID,QUESTIONS_ID,QUESTIONS,OPTION_ID,OPTION_NUMBER,OPTION_POINT,ISCORRECT,COMPLETIONSTATUS,
					CREATED_BY,CREATED_ON)
					SELECT (@LASTRECORD+1),@USER_ID,
					XMLproduct.value('(topic_id/text())[1]','BIGINT') AS topic_id,
					XMLproduct.value('(topic_name/text())[1]','NVARCHAR(500)') AS topic_name,
					XMLproduct.value('(content_id/text())[1]','BIGINT') AS content_id,
					XMLproduct.value('(question_id/text())[1]','BIGINT') AS question_id,
					XMLproduct.value('(question/text())[1]','NVARCHAR(500)') AS question,
					XMLproduct.value('(option_id/text())[1]','NVARCHAR(100)') AS option_id,
					XMLproduct.value('(option_number/text())[1]','NVARCHAR(500)') AS option_number,
					XMLproduct.value('(option_point/text())[1]','BIGINT') AS option_point,
					XMLproduct.value('(isCorrect/text())[1]','BIT') AS isCorrect,
					XMLproduct.value('(completionStatus/text())[1]','BIT') AS completionStatus,
					@USER_ID,GETDATE()
					FROM @JsonXML.nodes('/root/data')AS TEMPTABLE(XMLproduct)
					INNER JOIN LMS_CONTENT LC ON LC.CONTENTID=XMLproduct.value('(content_id/text())[1]','BIGINT')
					WHERE EXISTS(SELECT TOPICID FROM LMS_TOPICS WHERE TOPICID=XMLproduct.value('(topic_id/text())[1]','BIGINT'))

					SELECT USERID FROM FSMUSERTOPICCONTENTWISEQA WHERE USERID=@USER_ID
				COMMIT TRAN
			END TRY
			BEGIN CATCH
				ROLLBACK TRAN
				SELECT ERROR_NUMBER() AS ErrorNumber,ERROR_MESSAGE() AS ErrorMessage
			END CATCH
		END
	IF @ACTION='LEADERBOARD'
		BEGIN
			SET @StrSql='INSERT INTO #TMPLMSLB(ACTIVITYMODE,USERID,BRANCH_ID,BRANCHDESC,EMPCODE,EMPID,EMPNAME,STATEID,STATENAME,DEG_ID,DESIGNATION,DATEOFJOINING,CONTACTNO,WATCHCNT,LIKECNT,COMMENTCNT,'
			SET @StrSql+='SHARECNT,CQACNT,TOTALSCORES,POSITION,PROFILE_PICTURES_URL)'
			SET @StrSql+='SELECT ''M'' AS ACTIVITYMODE,USERID,BRANCH_ID,BRANCH_DESCRIPTION,EMPCODE,EMPID,EMPNAME,STATEID,STATE,DEG_ID,DESIGNATION,DATEOFJOINING,CONTACTNO,'
			SET @StrSql+='SUM(WATCHCNT) AS WATCHCNT,SUM(LIKECNT) AS LIKECNT,SUM(COMMENTCNT) AS COMMENTCNT,SUM(SHARECNT) AS SHARECNT,SUM(DISTINCT CQACNT) AS CQACNT,'
			SET @StrSql+='SUM(WATCHCNT)+SUM(LIKECNT)+SUM(COMMENTCNT)+SUM(SHARECNT)+SUM(DISTINCT CQACNT) AS TOTALSCORES,'
			SET @StrSql+='DENSE_RANK() OVER (ORDER BY (SUM(WATCHCNT)+SUM(LIKECNT)+SUM(COMMENTCNT)+SUM(SHARECNT)+SUM(DISTINCT CQACNT)) DESC) AS POSITION,'
			SET @StrSql+='CASE WHEN PROFILE_PICTURES_URL<>'''' THEN '''+@PROFILEIMAGEPATH+'''+PROFILE_PICTURES_URL ELSE '''' END AS PROFILE_PICTURES_URL FROM('
			SET @StrSql+='SELECT CAST(USR.USER_ID AS BIGINT) AS USERID,BR.BRANCH_ID,BR.BRANCH_DESCRIPTION,CNT.cnt_internalId AS EMPCODE,EMP.emp_uniqueCode AS EMPID,'
			SET @StrSql+='ISNULL(CNT.CNT_FIRSTNAME,'''')+'' ''+ISNULL(CNT.CNT_MIDDLENAME,'''')+(CASE WHEN ISNULL(CNT.CNT_MIDDLENAME,'''')<>'''' THEN '' '' ELSE '''' END)+ISNULL(CNT.CNT_LASTNAME,'''') AS EMPNAME,'
			SET @StrSql+='ST.ID AS STATEID,ST.state AS STATE,DESG.DEG_ID,DESG.deg_designation AS DESIGNATION,CONVERT(NVARCHAR(10),EMP.emp_dateofJoining,105) AS DATEOFJOINING,USR.user_loginId AS CONTACTNO,'
			SET @StrSql+='ISNULL(CNTDET.WATCHCNT,0) AS WATCHCNT,ISNULL(CNTDET.LIKECNT,0) AS LIKECNT,ISNULL(CNTDET.COMMENTCNT,0) AS COMMENTCNT,ISNULL(CNTDET.SHARECNT,0) AS SHARECNT,ISNULL(QACNTDET.CQACNT,0) AS CQACNT,'
			SET @StrSql+='PPIC.ProfileImage AS PROFILE_PICTURES_URL '
			SET @StrSql+='FROM tbl_master_employee EMP WITH (NOLOCK) '
			SET @StrSql+='INNER JOIN #TEMPCONTACT CNT ON CNT.cnt_internalId=EMP.emp_contactId '
			SET @StrSql+='INNER JOIN tbl_master_branch BR WITH (NOLOCK) ON CNT.cnt_branchid=BR.branch_id '
			SET @StrSql+='INNER JOIN tbl_master_user USR WITH (NOLOCK) ON USR.user_contactId=EMP.emp_contactId AND USR.user_inactive=''N'' '
			SET @StrSql+='INNER JOIN tbl_master_address ADDR WITH (NOLOCK) ON ADDR.add_cntId=CNT.cnt_internalid AND ADDR.add_addressType=''Office'' '
			SET @StrSql+='INNER JOIN tbl_master_state ST WITH (NOLOCK) ON ST.id=ADDR.add_state '
			SET @StrSql+='INNER JOIN ('
			SET @StrSql+='SELECT cnt.emp_cntId,desg.deg_designation,MAX(emp_id) as emp_id,desg.deg_id FROM tbl_trans_employeeCTC AS cnt WITH (NOLOCK) '
			SET @StrSql+='LEFT OUTER JOIN tbl_master_designation desg WITH (NOLOCK) ON desg.deg_id=cnt.emp_Designation WHERE cnt.emp_effectiveuntil IS NULL GROUP BY emp_cntId,desg.deg_designation,desg.deg_id '
			SET @StrSql+=') DESG ON DESG.emp_cntId=EMP.emp_contactId '
			SET @StrSql+='LEFT OUTER JOIN('
			SET @StrSql+='SELECT USERID,'
			SET @StrSql+='SUM(WATCHCOUNT)*(SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 '
			SET @StrSql+='AND B.POINTSECTION_FOR=''Watch'')) AS WATCHCNT,'
			SET @StrSql+='SUM(LIKECOUNT)*(SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 '
			SET @StrSql+='AND B.POINTSECTION_FOR=''Like'')) AS LIKECNT,'
			SET @StrSql+='SUM(COMMENTCOUNT)*(SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 '
			SET @StrSql+='AND B.POINTSECTION_FOR=''Comments'')) AS COMMENTCNT,'
			SET @StrSql+='SUM(SHARECOUNT)*(SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 '
			SET @StrSql+='AND B.POINTSECTION_FOR=''Share'')) AS SHARECNT '
			SET @StrSql+='FROM FSMUSERLMSCONTENTCOUNTINFO '
			SET @StrSql+='WHERE CONVERT(NVARCHAR(10),CONTENTCOUNTSAVEDATE,120) BETWEEN CONVERT(NVARCHAR(10),DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0),120) AND CONVERT(NVARCHAR(10),GETDATE(),120) '
			SET @StrSql+='GROUP BY USERID,CONVERT(NVARCHAR(10),CONTENTCOUNTSAVEDATE,105) '
			SET @StrSql+=') CNTDET ON USR.user_id=CNTDET.USERID '
			SET @StrSql+='LEFT OUTER JOIN('
			SET @StrSql+='SELECT USERID,SUM(OPTION_POINT) CQACNT FROM FSMUSERTOPICCONTENTWISEQA '
			SET @StrSql+='WHERE ISCORRECT=1 AND CONVERT(NVARCHAR(10),CREATED_ON,120) BETWEEN CONVERT(NVARCHAR(10),DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0),120) AND CONVERT(NVARCHAR(10),GETDATE(),120) '
			SET @StrSql+='GROUP BY USERID '
			SET @StrSql+=') QACNTDET ON USR.user_id=QACNTDET.USERID '
			SET @StrSql+='LEFT OUTER JOIN tbl_salesman_address PPIC ON USR.user_id=PPIC.UserId '
			SET @StrSql+=') MTD '
			IF @BRANCHWISE<>''
				SET @StrSql+='WHERE EXISTS (SELECT BRANCH_ID FROM #LBRANCH_LIST AS F WHERE MTD.BRANCH_ID=F.BRANCH_ID) '
			SET @StrSql+='GROUP BY USERID,BRANCH_ID,BRANCH_DESCRIPTION,EMPCODE,EMPID,EMPNAME,STATEID,STATE,DEG_ID,DESIGNATION,DATEOFJOINING,CONTACTNO,PROFILE_PICTURES_URL '

			--SELECT @StrSql
			EXEC SP_EXECUTESQL @StrSql

			SET @StrSql='INSERT INTO #TMPLMSLB(ACTIVITYMODE,USERID,BRANCH_ID,BRANCHDESC,EMPCODE,EMPID,EMPNAME,STATEID,STATENAME,DEG_ID,DESIGNATION,DATEOFJOINING,CONTACTNO,WATCHCNT,LIKECNT,COMMENTCNT,'
			SET @StrSql+='SHARECNT,CQACNT,TOTALSCORES,POSITION,PROFILE_PICTURES_URL)'
			SET @StrSql+='SELECT ''O'' AS ACTIVITYMODE,USERID,BRANCH_ID,BRANCH_DESCRIPTION,EMPCODE,EMPID,EMPNAME,STATEID,STATE,DEG_ID,DESIGNATION,DATEOFJOINING,CONTACTNO,'
			SET @StrSql+='SUM(WATCHCNT) AS WATCHCNT,SUM(LIKECNT) AS LIKECNT,SUM(COMMENTCNT) AS COMMENTCNT,SUM(SHARECNT) AS SHARECNT,SUM(DISTINCT CQACNT) AS CQACNT,'
			SET @StrSql+='SUM(WATCHCNT)+SUM(LIKECNT)+SUM(COMMENTCNT)+SUM(SHARECNT)+SUM(DISTINCT CQACNT) AS TOTALSCORES,'
			SET @StrSql+='DENSE_RANK() OVER (ORDER BY (SUM(WATCHCNT)+SUM(LIKECNT)+SUM(COMMENTCNT)+SUM(SHARECNT)+SUM(DISTINCT CQACNT)) DESC) AS POSITION,'
			SET @StrSql+='CASE WHEN PROFILE_PICTURES_URL<>'''' THEN '''+@PROFILEIMAGEPATH+'''+PROFILE_PICTURES_URL ELSE '''' END AS PROFILE_PICTURES_URL FROM('
			SET @StrSql+='SELECT CAST(USR.USER_ID AS BIGINT) AS USERID,BR.BRANCH_ID,BR.BRANCH_DESCRIPTION,CNT.cnt_internalId AS EMPCODE,EMP.emp_uniqueCode AS EMPID,'
			SET @StrSql+='ISNULL(CNT.CNT_FIRSTNAME,'''')+'' ''+ISNULL(CNT.CNT_MIDDLENAME,'''')+(CASE WHEN ISNULL(CNT.CNT_MIDDLENAME,'''')<>'''' THEN '' '' ELSE '''' END)+ISNULL(CNT.CNT_LASTNAME,'''') AS EMPNAME,'
			SET @StrSql+='ST.ID AS STATEID,ST.state AS STATE,DESG.DEG_ID,DESG.deg_designation AS DESIGNATION,CONVERT(NVARCHAR(10),EMP.emp_dateofJoining,105) AS DATEOFJOINING,USR.user_loginId AS CONTACTNO,'
			SET @StrSql+='ISNULL(CNTDET.WATCHCNT,0) AS WATCHCNT,ISNULL(CNTDET.LIKECNT,0) AS LIKECNT,ISNULL(CNTDET.COMMENTCNT,0) AS COMMENTCNT,ISNULL(CNTDET.SHARECNT,0) AS SHARECNT,ISNULL(QACNTDET.CQACNT,0) AS CQACNT,'
			SET @StrSql+='PPIC.ProfileImage AS PROFILE_PICTURES_URL '
			SET @StrSql+='FROM tbl_master_employee EMP WITH (NOLOCK) '
			SET @StrSql+='INNER JOIN #TEMPCONTACT CNT ON CNT.cnt_internalId=EMP.emp_contactId '
			SET @StrSql+='INNER JOIN tbl_master_branch BR WITH (NOLOCK) ON CNT.cnt_branchid=BR.branch_id '
			SET @StrSql+='INNER JOIN tbl_master_user USR WITH (NOLOCK) ON USR.user_contactId=EMP.emp_contactId AND USR.user_inactive=''N'' '
			SET @StrSql+='INNER JOIN tbl_master_address ADDR WITH (NOLOCK) ON ADDR.add_cntId=CNT.cnt_internalid AND ADDR.add_addressType=''Office'' '
			SET @StrSql+='INNER JOIN tbl_master_state ST WITH (NOLOCK) ON ST.id=ADDR.add_state '
			SET @StrSql+='INNER JOIN ('
			SET @StrSql+='SELECT cnt.emp_cntId,desg.deg_designation,MAX(emp_id) as emp_id,desg.deg_id FROM tbl_trans_employeeCTC AS cnt WITH (NOLOCK) '
			SET @StrSql+='LEFT OUTER JOIN tbl_master_designation desg WITH (NOLOCK) ON desg.deg_id=cnt.emp_Designation WHERE cnt.emp_effectiveuntil IS NULL GROUP BY emp_cntId,desg.deg_designation,desg.deg_id '
			SET @StrSql+=') DESG ON DESG.emp_cntId=EMP.emp_contactId '
			SET @StrSql+='LEFT OUTER JOIN('
			SET @StrSql+='SELECT USERID,'
			SET @StrSql+='SUM(WATCHCOUNT)*(SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 '
			SET @StrSql+='AND B.POINTSECTION_FOR=''Watch'')) AS WATCHCNT,'
			SET @StrSql+='SUM(LIKECOUNT)*(SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 '
			SET @StrSql+='AND B.POINTSECTION_FOR=''Like'')) AS LIKECNT,'
			SET @StrSql+='SUM(COMMENTCOUNT)*(SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 '
			SET @StrSql+='AND B.POINTSECTION_FOR=''Comments'')) AS COMMENTCNT,'
			SET @StrSql+='SUM(SHARECOUNT)*(SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 '
			SET @StrSql+='AND B.POINTSECTION_FOR=''Share'')) AS SHARECNT '
			SET @StrSql+='FROM FSMUSERLMSCONTENTCOUNTINFO '
			SET @StrSql+='WHERE CONVERT(NVARCHAR(10),CONTENTCOUNTSAVEDATE,120) BETWEEN CONVERT(NVARCHAR(10),DateAdd(month,-2,GETDATE()),120) AND CONVERT(NVARCHAR(10),GETDATE(),120) '
			SET @StrSql+='GROUP BY USERID,CONVERT(NVARCHAR(10),CONTENTCOUNTSAVEDATE,105) '
			SET @StrSql+=') CNTDET ON USR.user_id=CNTDET.USERID '
			SET @StrSql+='LEFT OUTER JOIN('
			SET @StrSql+='SELECT USERID,SUM(OPTION_POINT) CQACNT FROM FSMUSERTOPICCONTENTWISEQA '
			SET @StrSql+='WHERE ISCORRECT=1 AND CONVERT(NVARCHAR(10),CREATED_ON,120) BETWEEN CONVERT(NVARCHAR(10),DateAdd(month,-2,GETDATE()),120) AND CONVERT(NVARCHAR(10),GETDATE(),120) '
			SET @StrSql+='GROUP BY USERID '
			SET @StrSql+=') QACNTDET ON USR.user_id=QACNTDET.USERID '
			SET @StrSql+='LEFT OUTER JOIN tbl_salesman_address PPIC ON USR.user_id=PPIC.UserId '
			SET @StrSql+=') OVERALL '
			IF @BRANCHWISE<>''
				SET @StrSql+='WHERE EXISTS (SELECT BRANCH_ID FROM #LBRANCH_LIST AS F WHERE OVERALL.BRANCH_ID=F.BRANCH_ID) '
			SET @StrSql+='GROUP BY USERID,BRANCH_ID,BRANCH_DESCRIPTION,EMPCODE,EMPID,EMPNAME,STATEID,STATE,DEG_ID,DESIGNATION,DATEOFJOINING,CONTACTNO,PROFILE_PICTURES_URL '
				
			--SELECT @StrSql
			EXEC SP_EXECUTESQL @StrSql

			IF @SUBACTION='OVERALL'
				BEGIN
					SELECT ACTIVITYMODE,USERID AS [user_id],EMPNAME AS [user_name],CONTACTNO AS user_phone,WATCHCNT AS watch,LIKECNT AS [like],COMMENTCNT AS comment,SHARECNT AS share,CQACNT AS correct_answer, 
					POSITION AS position,TOTALSCORES AS totalscore,PROFILE_PICTURES_URL AS profile_pictures_url FROM #TMPLMSLB WHERE ACTIVITYMODE=@ACTIVITYMODE ORDER BY POSITION
				END
			ELSE IF @SUBACTION='OWN'
				BEGIN
					SELECT ACTIVITYMODE,USERID AS [user_id],EMPNAME AS [user_name],CONTACTNO AS user_phone,WATCHCNT AS watch,LIKECNT AS [like],COMMENTCNT AS comment,SHARECNT AS share,CQACNT AS correct_answer, 
					POSITION AS position,TOTALSCORES AS totalscore,PROFILE_PICTURES_URL AS profile_pictures_url FROM #TMPLMSLB WHERE USERID=@USER_ID AND ACTIVITYMODE=@ACTIVITYMODE ORDER BY POSITION
				END			
		END
	IF @ACTION='SECTIONSPOINTS'
		BEGIN
			SELECT
			ISNULL((SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1
			AND B.POINTSECTION_FOR='Watch')),0) AS content_watch_point,
			ISNULL((SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 
			AND B.POINTSECTION_FOR='Like')),0) AS content_like_point,			
			ISNULL((SELECT ISNULL(A.POINTS,0) AS POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 
			AND B.POINTSECTION_FOR='Share')),0) AS content_share_point,
			ISNULL((SELECT A.POINTS FROM LMS_POINTSETUP A WHERE EXISTS(SELECT POINTSECTION_ID FROM LMS_POINTSECTION B WHERE A.POINTSECTION=B.POINTSECTION_ID AND A.POINTSETUPSTATUS=1 
			AND B.POINTSECTION_FOR='Comments')),0) AS content_comment_point
		END
	IF @ACTION='SAVEBOOKMARK'
		BEGIN
			BEGIN TRAN
				BEGIN TRY
					IF NOT EXISTS(SELECT ADDBOOKMARK FROM FSMUSERLMSBOOKMARKINFO WHERE TOPICID=@TOPIC_ID AND CONTENTID=@CONTENT_ID AND USERID=@USER_ID AND ADDBOOKMARK='1')
						BEGIN
							SET @LASTRECORD=(SELECT TOP 1 ISNULL(ID,0) AS ID FROM FSMUSERLMSBOOKMARKINFO ORDER BY ID DESC)
							IF @LASTRECORD IS NULL
								SET @LASTRECORD=0

							INSERT INTO FSMUSERLMSBOOKMARKINFO(ID,USERID,TOPICID,TOPICNAME,CONTENTID,CONTENTNAME,CONTENTDESC,CONTENTBITMAP,CONTENTURL,ADDBOOKMARK,CREATED_BY,CREATED_ON)
							SELECT (@LASTRECORD+1),@USER_ID,@TOPIC_ID,@TOPICNAME,@CONTENT_ID,@CONTENTNAME,@CONTENTDESC,@CONTENTBITMAP,@CONTENTURL,@ADDBOOKMARK,@USER_ID,GETDATE()
							WHERE EXISTS(SELECT TOPICID FROM LMS_TOPICS WHERE TOPICID=@TOPIC_ID)
							AND EXISTS(SELECT CONTENTID FROM LMS_CONTENT WHERE CONTENTID=@CONTENT_ID)

							SELECT TOPICID FROM FSMUSERLMSBOOKMARKINFO WHERE TOPICID=@TOPIC_ID AND CONTENTID=@CONTENT_ID AND USERID=@USER_ID AND ADDBOOKMARK='1'
						END
					ELSE
						BEGIN
							DELETE FROM FSMUSERLMSBOOKMARKINFO WHERE TOPICID=@TOPIC_ID AND CONTENTID=@CONTENT_ID AND USERID=@USER_ID

							SELECT 1
						END
				COMMIT TRAN
			END TRY
			BEGIN CATCH
				ROLLBACK TRAN
				SELECT ERROR_NUMBER() AS ErrorNumber,ERROR_MESSAGE() AS ErrorMessage
			END CATCH
		END
	IF @ACTION='FETCHBOOKMARK'
		BEGIN
			SELECT USERID,TOPICID AS topic_id,TOPICNAME AS topic_name,CONTENTID AS content_id,CONTENTNAME AS content_name,CONTENTDESC AS content_desc,CONTENTBITMAP AS content_bitmap,
			CONTENTURL AS content_url FROM FSMUSERLMSBOOKMARKINFO WHERE USERID=@USER_ID
		END
	IF @ACTION='TOPICCONTENTWISEANSWER'
		BEGIN
			SELECT @USER_ID AS USERID,topic_id,topic_name,LC.CONTENTID AS content_id,LC.CONTENTDESC AS content_name
			FROM(
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM 
			INNER JOIN LMS_TOPIC_BRANCHMAP TBM ON TM.TOPICID=TBM.TOPICID 
			INNER JOIN FTS_EmployeeBranchMap EBM ON TBM.TOPIC_BRANCHID=EBM.BranchId AND EBM.EMP_CONTACTID=@USERINTERNALID
			UNION ALL 
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM 
			INNER JOIN LMS_TOPIC_DESIGMAP DEG ON TM.TOPICID=DEG.TOPICID 
			INNER JOIN tbl_trans_employeeCTC CTC ON DEG.TOPIC_DESIGID=CTC.emp_Designation AND CTC.emp_cntId=@USERINTERNALID
			UNION ALL 
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM 
			INNER JOIN LMS_TOPIC_DEPTMAP DEPT ON TM.TOPICID=DEPT.TOPICID 
			INNER JOIN tbl_trans_employeeCTC CTC ON DEPT.TOPIC_DEPTID=CTC.emp_Department AND CTC.emp_cntId=@USERINTERNALID
			UNION ALL 
			SELECT TM.TOPICID AS topic_id,TM.TOPICNAME AS topic_name,TM.TOPIC_SEQ AS topic_sequence FROM LMS_TOPICS TM 
			INNER JOIN LMS_TOPIC_EMPMAP TEMP ON TM.TOPICID=TEMP.TOPICID 
			INNER JOIN tbl_master_employee TME ON TEMP.TOPIC_EMPCNTID=TME.emp_contactId AND TME.emp_contactId=@USERINTERNALID
			) TLIST 
			INNER JOIN LMS_CONTENT LC ON TLIST.topic_id=LC.CONTENT_TOPICID			
			WHERE TLIST.topic_id=@TOPIC_ID AND LC.CONTENTID=@CONTENT_ID AND LC.CONTENTSTATUS=1

			SELECT TCQA.TOPICID AS topic_id,TCQA.CONTENT_ID AS content_id,QS.QUESTIONS_ID AS question_id,QS.QUESTIONS_NAME AS question,QS.QUESTIONS_DESCRIPTN AS question_description,
			TCQA.OPTION_NUMBER AS answered,TCQA.ISCORRECT AS isCorrectAnswer
			FROM LMS_QUESTIONS QS
			INNER JOIN FSMUSERTOPICCONTENTWISEQA TCQA ON QS.QUESTIONS_ID=TCQA.QUESTIONS_ID
			WHERE USERID=@USER_ID AND TCQA.TOPICID=@TOPIC_ID AND TCQA.CONTENT_ID=@CONTENT_ID

			SELECT LC.CONTENT_TOPICID AS topic_id,LC.CONTENTID AS content_id,LCQM.CONTENT_QUESTIONID AS question_id,QS.QUESTIONS_NAME AS question,QS.QUESTIONS_DESCRIPTN AS question_description,
			QOPTN.QUESTIONS_OPTIONSID AS option_id,QOPTN.OPTIONS_NUMBER1 AS option_no_1,
			QOPTN.OPTIONS_POINT1 AS option_point_1,CAST(QOPTN.OPTIONS_CORRECT1 AS bit) AS isCorrect_1,QOPTN.OPTIONS_NUMBER2 AS option_no_2,QOPTN.OPTIONS_POINT2 AS option_point_2,
			CAST(QOPTN.OPTIONS_CORRECT2 AS bit) AS isCorrect_2,QOPTN.OPTIONS_NUMBER3 AS option_no_3,QOPTN.OPTIONS_POINT3 AS option_point_3,CAST(QOPTN.OPTIONS_CORRECT3 AS bit) AS isCorrect_3,
			QOPTN.OPTIONS_NUMBER4 AS option_no_4,QOPTN.OPTIONS_POINT4 AS option_point_4,CAST(QOPTN.OPTIONS_CORRECT4 AS bit) AS isCorrect_4
			FROM LMS_CONTENT LC 
			INNER JOIN LMS_CONTENT_QUESTIONMAP LCQM ON LC.CONTENTID=LCQM.CONTENTID
			INNER JOIN LMS_QUESTIONS QS ON LCQM.CONTENT_QUESTIONID=QS.QUESTIONS_ID
			INNER JOIN LMS_QUESTIONSOPTIONS QOPTN ON QS.QUESTIONS_ID=QOPTN.QUESTIONS_ID
			INNER JOIN(SELECT TOPICID,CONTENT_ID FROM FSMUSERTOPICCONTENTWISEQA 
			WHERE TOPICID=@TOPIC_ID AND USERID=@USER_ID
			GROUP BY TOPICID,CONTENT_ID) QASAVE ON LC.CONTENTID=QASAVE.CONTENT_ID
			WHERE LC.CONTENT_TOPICID=@TOPIC_ID AND LC.CONTENTID=@CONTENT_ID AND LC.CONTENTSTATUS=1
			ORDER BY LC.CONTENT_TOPICID,LC.CONTENTID,LCQM.CONTENT_QUESTIONID
		END
	IF @ACTION='TOPICCONTENTWISEANSWERUPDATE'
		BEGIN
			IF EXISTS(SELECT USERID FROM FSMUSERTOPICCONTENTWISEQA WHERE USERID=@USER_ID AND TOPICID=@TOPIC_ID AND CONTENT_ID=@CONTENT_ID AND QUESTIONS_ID=@QUESTION_ID AND QUESTIONS=@QUESTION)
				BEGIN
					UPDATE FSMUSERTOPICCONTENTWISEQA SET OPTION_ID=@OPTION_ID,OPTION_NUMBER=@OPTION_NUMBER,OPTION_POINT=@OPTION_POINT,ISCORRECT=@ISCORRECT,
					MODIFIED_BY=@USER_ID,MODIFIED_ON=GETDATE()
					WHERE USERID=@USER_ID AND TOPICID=@TOPIC_ID AND CONTENT_ID=@CONTENT_ID AND QUESTIONS_ID=@QUESTION_ID AND QUESTIONS=@QUESTION

					SELECT USERID,TOPICID,@TOPICNAME AS TOPICNAME,CONTENT_ID,QUESTIONS_ID,QUESTIONS FROM FSMUSERTOPICCONTENTWISEQA WHERE USERID=@USER_ID AND TOPICID=@TOPIC_ID 
					AND CONTENT_ID=@CONTENT_ID AND QUESTIONS_ID=@QUESTION_ID AND QUESTIONS=@QUESTION
				END
		END
	IF @ACTION='APPCRASHDETAILS'
		BEGIN
			BEGIN TRAN
				BEGIN TRY
					INSERT INTO FSM_APPCRASHDETAILS(USERID,ERRORMESSAGE,STACKTRACE,DATE_TIME,DEVICE,OS_VERSION,APP_VERSION,USER_REMARKS,CREATEDBY,CREATEDON)
					SELECT @USER_ID,
					XMLproduct.value('(errorMessage/text())[1]','VARCHAR(8000)') AS errorMessage,
					XMLproduct.value('(stackTrace/text())[1]','VARCHAR(8000)') AS stackTrace,
					XMLproduct.value('(date_time/text())[1]','DATETIME') AS date_time,
					XMLproduct.value('(device/text())[1]','VARCHAR(100)') AS device,
					XMLproduct.value('(os_version/text())[1]','VARCHAR(100)') AS os_version,
					XMLproduct.value('(app_version/text())[1]','VARCHAR(100)') AS app_version,
					XMLproduct.value('(user_remarks/text())[1]','VARCHAR(1000)') AS user_remarks,
					@USER_ID,GETDATE()
					FROM @JsonXML.nodes('/root/data')AS TEMPTABLE(XMLproduct)

					SELECT USERID FROM FSM_APPCRASHDETAILS WHERE USERID=@USER_ID
				COMMIT TRAN
			END TRY
			BEGIN CATCH
				ROLLBACK TRAN
				SELECT ERROR_NUMBER() AS ErrorNumber,ERROR_MESSAGE() AS ErrorMessage
			END CATCH
		END

	IF @ACTION='LEADERBOARD'
		BEGIN
			DROP TABLE #LBRANCH_LIST
			DROP TABLE #TEMPCONTACT
			DROP TABLE #TMPLMSLB
		END

	SET NOCOUNT OFF
END
GO